{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Standards" %}
{% set pageName = "Overview of accessibility regulations" %}
{% set pageDescription = "Guidance for understanding the laws and regulations related to accessibility."%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "16 July 2024" %}
{% set reviewed = "16 July 2024" %}
{% set updated = "16 July 2024" %}
{% set githubIssueID = "35" %}
{% set need = "This page exists to help people understand the laws and regulations." %}
{% set aka = "law,legal" %}
{% set pagePath = "/standards/regulations" %}
{% block content %}



   <h1 class="govuk-heading-xl">{{pageName}}</h1>

   <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
         <span class="govuk-visually-hidden">Warning</span>
      The department can be fined if we do not comply with these laws and standards.
   </strong>
   </div>

   <p class="govuk-body">
   Several laws and standards govern accessibility, and are applicable to all users of our services, including:
</p>

   <ul class="govuk-list govuk-list--bullet">
      <li>members of the public</li>
      <li>teachers and pupils</li>
      <li>Department for Education or other agency staff</li>
   </ul>

   <h2 class="govuk-heading-l">Laws and regulations</h2>

   <p class="govuk-body">
   These accessibility requirements are enforced through various legislation and standards.
</p>

   <h3 class="govuk-heading-m">Public Sector Bodies (Websites and Mobile Applications) Accessibility Regulations 2018</h3>
   <p class="govuk-body">The <a class="govuk-link"
      href="https://www.legislation.gov.uk/uksi/2018/952/contents/made" target="_blank">Accessibility
      Regulations 2018</a> are accessibility standards for public sector websites and mobile apps which help to ensure they can be used
   by as many people as possible, including those with disabilities.</p>
   <p class="govuk-body">This law requires public bodies to specifically meet the latest published version of WCAG.</p>

   <p class="govuk-body">Understand
<a class="govuk-link"
         href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps"
         target="_blank">accessibility requirements for public sector bodies</a>.
         </p>

   <h3 class="govuk-heading-m">Equality Act 2010</h3>
   <p class="govuk-body">The
  <a class="govuk-link"
      href="https://www.legislation.gov.uk/ukpga/2010/15/contents" target="_blank">
      Equality Act 2010</a> legally protects people from discrimination in the workplace and in wider society. It sets out
   the different ways in which it’s unlawful to treat someone.</p>

   <p class="govuk-body">Summary of act:
<ul class="govuk-list govuk-list--bullet">
         <li>
            <a class="govuk-link" href="https://www.equalityhumanrights.com/en/equality-act-2010/what-equality-act"
         target="_blank">Equality Act 2010: introduction</a>
         </li>
         <li>
            <a class="govuk-link" href="https://www.gov.uk/guidance/equality-act-2010-guidance" target="_blank">Equality Act
         2010: guidance</a>
         </li>
      </ul>

      <h3 class="govuk-heading-m">Public Sector Equality Duty</h3>
      <p class="govuk-body">
  The <a class="govuk-link"
 href="https://www.legislation.gov.uk/ukpga/2010/15/section/149" target="_blank">Public Sector Equality Duty</a> requires public bodies to consider how their policies or decisions affect people who
   are protected under the Equality Act. This helps organisations to deliver services that are accessible and inclusive.
</p>
      <p class="govuk-body">Summary of duty:
<ul class="govuk-list govuk-list--bullet">
            <li>
               <a class="govuk-link" href="https://www.gov.uk/government/publications/public-sector-equality-duty"
         target="_blank">Public Sector Equality Duty: overview</a>
            </li>
            <li>
               <a class="govuk-link"
         href="https://www.equalityhumanrights.com/en/advice-and-guidance/public-sector-equality-duty"
         target="_blank">Public Sector Equality Duty: explained</a>
            </li>

         </ul>

         <h3 class="govuk-heading-m">EN 301 549 Accessibility Requirements for ICT Products and Services</h3>
         <p class="govuk-body">
            <a class="govuk-link"
      href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/03.02.01_60/en_301549v030201p.pdf"
      target="_blank">EN 301 549 (PDF link)</a> is a European standard that specifies the accessibility requirements for ICT products and services. It includes websites, software, and hardware. The standard ensures that ICT products are accessible to all users.</p>
      </p>

   {% endblock %}