{% extends "layouts/full-nohero.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "Move" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}

{% block hero %}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/training">Training</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {{pageName}}
            </li>
        </ol>
    </div>
</div>

{% endblock %}

{% block content %}

<style>
    .grey-text {
        color: #585858;
    }
</style>

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-font-size-48">{{pageName}}</h1>

                    <p class="govuk-body-l">People with mobility impairments or limited dexterity, including those with
                        conditions like cerebral palsy or arthritis, or those who have lost limbs, may find it
                        challenging, or impossible, to use a mouse or other pointing devices.</p>

                        <div class="govuk-inset-text">
                            <p class="govuk-body-l  govuk-!-margin-bottom-0">Around 1 in 5 people have a mobility or dexterity impairment in the UK.</p>
                        </div>
    
    

                    <p class="govuk-body-l">We must ensure that all interactive elements such as forms and links are
                        accessible via keyboard navigation.</p>

                    <p class="govuk-body-l">It's also important that these interactive elements,
                        can be controlled using voice commands.</p>

                    <p class="govuk-body-l">You don't need special software to test these features. You can find
                        guidance in the tools and testing section of this manual for how to use tools to test these features. </p>



                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-!-margin-top-6"><a href="/training/accessibility-inclusion/hearing"
                    class="dfe-manual-button dfe-manual-button--grey govuk-!-margin-right-2"
                    role="button">Previous</a><a href="/training/accessibility-inclusion/cognitive"
                    class="dfe-manual-button" role="button">Next</a></p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>




{% endblock %}