{% extends "layouts/full-nohero.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "Example of using colour" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}

{% block hero %}

    <div class="govuk-width-container">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/training">Training</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    {{pageName}}
                </li>
            </ol>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl govuk-!-font-size-48">{{pageName}}</h1>

                        <p class="govuk-body-l">When publishing content which uses a colour-based status
                        indicator, ensure there is text to help users to understand the status.</p>
                        <p class="govuk-body-l">This doesn’t just help
                        people who struggle with seeing certain colours, it helps everyone understand the content more
                        easily. </p>
                    </div>
                    <div class="govuk-grid-column-full govuk-!-margin-top-5">
                        <div class="govuk-grid-row dfe-flex">
                            <div class="govuk-grid-column-one-half dfe-flex-item">
                                <div class="dfe-panel-do">
                                    <h3 class="govuk-heading-m">Do</h3>
                                    <p class="govuk-!-margin-bottom-5">Use text alongside colour to help people understand
                                    the context.</p>
                                    <img src="/assets/images/color-do.png" style="width:100%;"
                                    class="govuk-!-margin-bottom-5" alt="">

                                </div>
                            </div>
                            <div class="govuk-grid-column-one-half dfe-flex-item">
                                <div class="dfe-panel-dont">
                                    <h3 class="govuk-heading-m">Don't</h3>
                                    <p class="govuk-!-margin-bottom-5">Don't use colour alone as people with colour
                                    deficiencies can see different colours to what you might intend.</p>
                                    <img src="/assets/images/color-dont.png" style="width:100%;"
                                    class="govuk-!-margin-bottom-5" alt="">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <p class="govuk-!-margin-top-6">
                    <a href="/training/accessibility-inclusion/vision"
                    class="govuk-button govuk-button--grey govuk-!-margin-right-2"
                    role="button">Previous</a>
                    <a href="/training/accessibility-inclusion/hearing"
                    class="govuk-button" role="button">Next</a>
                </p>
            </div>
        </div>
        <div class="govuk-grid-column-one-third"></div>
    </div>

{% endblock %}