{% extends "layouts/full.html" %}

{% set selectedNav = "Audits and statements" %}
{% set pageName = "Audits and statements" %}
{% set pageDescription = "Understand what audit you need, when to get one and publish an accessibility statement."%}

{% set mainClasses = "govuk-!-padding-top-0 govuk-!-padding-bottom-7" %}

{% block content %}


   <div class="dfe-width-container govuk-!-margin-top-9">
      <div class="govuk-grid-row">

         <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Audits</h2>
            <p>Find out what audits are appropriate and when you need them.</p>

            <div class="dfe-grid-container">

               <div class="dfe-card">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/audits-statements/audits" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Audit guidance</a>
                     </h3>
                     <p>What an accessibility audit is, why you need one and the outcome for your team.</p>
                  </div>
               </div>
              
              
            </div>

            <h2 class="govuk-heading-l govuk-!-margin-top-9">Accessibility statements</h2>
            <p>All products and websites must have an accurate, up to date accessibility statement.</p>

            <div class="dfe-grid-container">

               <div class="dfe-card">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/audits-statements/accessibility-statements"
                        class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Accessibility
                        statement templates</a>
                     </h3>
                     <p>Templates for the accurate creation of accessibility statements in products and websites.</p>
                  </div>
               </div>
               <div class="dfe-card">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/standards/accessibility-statements/how-to-meet"
                        class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Guidance for applying the
                        standard</a>
                     </h3>
                     <p>Guidance for how to ensure products and websites are compliant with the accessibility statement
                     standard.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

{% endblock %}