{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "WCAG overview" %}
{% set pageDescription = "Guidance for ..."%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "18 July 2024" %}
{% set reviewed = "18 July 2024" %}
{% set updated = "18 July 2024" %}
{% set githubIssueID = "" %}
{% set aka = "wgac, wcga, 2.1, 2.2, 22, 21" %}
{% set need = "This page exists to help people understand WCAG (Web Content Accessibility Guidelines)" %}
{% set pagePath = "/knowledge-hub/wcag" %}
{% block content %}



   <h1 class="govuk-heading-xl">{{pageName}}</h1>

   <p>The Web Content Accessibility Guidelines (WCAG) 2.2 are a set of recommendations designed to make web content more
   accessible to people with disabilities.</p>

   <p>These guidelines are aimed at improving the user experience for people with
   various impairments, including visual, auditory, physical, speech, cognitive, language, learning, and neurological
   disabilities.</p>

   <h2 class="govuk-heading-l">Main principles</h2>

   <p>WCAG 2.2 is organised around 4 principles, often summarised by the acronym POUR.</p>

   <h3 class="govuk-heading-m">Perceivable</h3>
   <p>Information and user interface components must be presented in ways that users can perceive. This means content
   should be available to at least one of a user's senses (sight, hearing, touch).</p>

   <h3 class="govuk-heading-m">Operable</h3>
   <p>User interface components and navigation must be operable. Users should be able to use and interact with the
   interface effectively.</p>

   <h3 class="govuk-heading-m">Understandable</h3>
   <p>Information and the operation of user interface must be understandable. Users should be able to comprehend the
   information, as well as how to use the interface.</p>

   <h3 class="govuk-heading-m">Robust</h3>
   <p>Content must be robust enough to be interpreted reliably by a wide variety of user agents, including assistive
   technologies. This means ensuring compatibility as technologies evolve.</p>

   <h2 class="govuk-heading-l">Criteria</h2>

   <p>You can read all the criteria for WCAG 2.2 on the <a href="/knowledge-hub/wcag/criteria">WCAG 2.2 criteria</a> page.</p>


{% endblock %}