{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Inclusive design)" %}
{% set pageDescription = "TK"%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "7 January 2025" %}
{% set reviewed = "7 January 2025" %}
{% set updated= "7 January 2025" %}
{% set githubIssueID = "TK" %}
{% set need = "" %}
{% set pagePath = "/knowledge-hub/inclusive-design" %}



{% block content %}

   <h1 class="govuk-heading-xl">{{pageName}}</h1>

   

{% endblock %}