{% extends "layouts/content-with-sidenav-left.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Accessibility statements" %}
{% set pageDescription = ""%}


{% block hero %}
<section class="dfe-page-header ">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl govuk-!-margin-top-8">{{selectedNav}}</span>
                <h1 class="govuk-heading-xl">{{pageName}}</h1>

            </div>
        </div>
    </div>
</section>
{% endblock %}



{% block content %}

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        You are breaking the law if your website or app does not have an accurate accessibility statement.
    </strong>
</div>

<p>
    As a public body we are <a href="/regulation">required by law</a> to publish an accessibility statement on every
    website and app we publish.
</p>



<div class="dfe-warning-callout">
    <h3 class="dfe-warning-callout__label">
        Important<span class="govuk-visually-hidden">:</span>
    </h3>
    <p>You must publish an accessibility statement on your website before people start using it.</p>
</div>



<h2 class="govuk-heading-l">Follow the standard</h2>

<p>
    Within the Department for Education, we have implemented a standard to ensure websites <a
        href="/standards/accessibility-statements">publish and maintain an accurate accessibility statements</a>.</p>



<p>The standard outlines that statements must:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>use the correct legal wording by using a <a href="/guidance/accessibility-statement-templates">statement
            template</a></li>
    <li>declare the correct <a href="/guidance/accessibility-conformance-and-compliance">level of conformance</a></li>
    <li>publish <a href="/guidance/accessibility-issues">details of any issues</a> and what is being done to resolve
        them</li>
    <li>give people information about how to get help with an accessibility issue or request information in another
        format</li>
    <li>provide details of any <a href="/audits">audits</a> or <a href="/testing">testing</a> that have been carried out
    </li>
    <li>be available on all pages in the footer, titled “Accessibility”, for websites</li>
    <li>be available at the point of download or in app guidance, for apps</li>
</ul>

<p>You can meet these requirements by following the <a href="/standards/accessibility-statements">standard for
        publishing
        and maintaining accessibility statements</a> which all services in DfE must comply with.</p>

<h3 class="govuk-heading-m">Compliance with this standard</h3>

<p>
    Meeting this standard will ensure we are complying with our legal obligations and supporting people who might
    encounter difficulties using our websites and services.
</p>

<p>
    Your website must report compliance with this standard on the <a
        href="https://educationgovuk.sharepoint.com/sites/ServiceHealthCheckHub" rel="noopener noreferrer">Service
        health check hub (DfE Intranet)</a>.
</p>

<p>The <a href="https://design.education.gov.uk/design-ops" rel="noopener noreferrer">DesignOps team</a> will also
    monitor and carry out audits of DfE websites to check compliance with the standard. The standard will also be
    assured through <a href="https://apply-the-service-standard.education.gov.uk/service-assessments"
        rel="noopener noreferrer">service assessments</a></p>

<p>
    If you do not follow these standards, the <a href="https://www.equalityhumanrights.com"
        rel="noopener noreferrer">Equality and Human Rights Commission (EHRC)</a> could take enforcement action
    against the department. You will also be preventing people with access needs from being able to use the website.
    This could harm our reputation and result in fines or other penalties.
</p>

<h2 class="govuk-heading-l">How statements help people using our websites</h2>

<p>In the UK, <a
        href="https://www.gov.uk/government/statistics/family-resources-survey-financial-year-2020-to-2021/family-resources-survey-financial-year-2020-to-2021#disability-1">1
        in 5 people have a disability</a> - this could be visual, hearing, motor (affecting fine movement) or cognitive
    (affecting memory and thinking). Many more people have temportary or situational impairments so it's important to
    ensure our websites are accessible as possible for all.</p>

<p>
    You can use the <a href="https://design.education.gov.uk/tools/how-many-users" rel="noopener noreferrer">how many
        people</a> tool in the DfE design manual to help you understand the range of prevelance of different types of
    disability in the population.
</p>

<p>It's important statements accurately reflect known accessibility issues in a website.</p>
<p>Detailing the issues help
    people understand the level of accessibility they can expect and allows users to find alternative ways of doing what
    they need to if faced with an accessibility issue.
</p>

<p>
    The statement must also provide information for people to get help with an accessibility issue or request
    information in another format.
</p>

<p>Using the correct <a href="/guidance/accessibility-statement-templates">statement template</a> will help you meet all
    these requirements in a consistent way.</p>


<style>
    .dfe-warning-callout {
        background-color: #fff9c4;
        color: #212b32;
        border: 1px solid #ffeb3b;
        padding-top: 0 !important;
    }

    .dfe-warning-callout__label {
        background-color: #ffeb3b;
        color: #212b32;
        display: inline-block;
        margin: 0 0 8px -33px;
        padding: 8px 32px;
        position: relative;
        top: -16px;
    }

    .dfe-warning-callout p {
        margin-bottom: 0;
    }

    @media (min-width: 40.0625em) {
        .dfe-warning-callout {
            margin-top: 48px;
        }

        .dfe-warning-callout {
            margin-bottom: 48px;
        }

        .dfe-warning-callout {
            padding: 32px;
        }

        .dfe-warning-callout__label {
            font-size: 24px;
            font-size: 1.5rem;
            line-height: 1.33333;
        }
    }
</style>

{% endblock %}