{% extends "layouts/content-with-sidenav-left.html" %}

{% set selectedNav = "Guidance" %}
{% set pageName = "Understand conformance and compliance" %}
{% set pageDescription = ""%}


{% block hero %}
<section class="dfe-page-header ">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl govuk-!-margin-top-8">{{selectedNav}}</span>
                <h1 class="govuk-heading-xl">{{pageName}}</h1>

            </div>
        </div>
    </div>
</section>
{% endblock %}



{% block content %}


<h2 class="govuk-heading-l">Conformance</h2>
<p class="govuk-body">
    An accessibility statement must explain the level of conformance that the website has been tested against. There are
    three levels of conformance:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li><strong>Level A:</strong> The most basic web accessibility features</li>
    <li><strong>Level AA:</strong> Deals with the biggest and most common barriers for disabled users</li>
    <li><strong>Level AAA:</strong> The highest and most complex level of web accessibility</li>
</ul>
<p class="govuk-body">
    As a department, and widely accepted in other government departments, we aim to meet Level AA, ensuring our digital
    content is accessible and usable for a wide range of people.
</p>
<p class="govuk-body">
    If your website includes features covered by criteria in level AAA, you should aim to meet this level.
</p>

<h2 class="govuk-heading-l">Compliance status</h2>


<p class="govuk-body">
    By telling people how compliant the website is, you are helping them to understand what adjustments they may need to
    make. You must declare one of 3 levels of compliance in your accessibility statement.
</p>
<h3 class="govuk-heading-m">The 3 levels of compliance</h3>
<ul class="govuk-list govuk-list--bullet">
    <li><strong>Fully compliant:</strong> means there are no failures against the level of conformance you have
        declared.</li>
    <li><strong>Partially compliant:</strong> means between 1 and half of all WCAG criteria have failed to be met.</li>
    <li><strong>Not compliant:</strong> means more than half of the WCAG criteria are not met.</li>
</ul>
<p class="govuk-body">
    There is legally required wording you must use. Using the correct <a
        href="/guidance/accessibility-statement-templates">statement template</a> will ensure this wording is
    used.
</p>

<h2 class="govuk-heading-m">Declaring disproportionate burden</h2>
<p class="govuk-body">
    There are situations where you might not be able to resolve an accessibility issue, or it is out of scope. There is
    guidance on GOV.UK for <a
        href="https://www.gov.uk/guidance/public-sector-website-and-mobile-application-accessibility-monitoring#disproportionate-burden-claims-and-assessment"
        rel="noopener noreferrer">how to decide if you can use disproportionate burden</a>.
</p>

{% endblock %}