{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Disproportionate burden" %}
{% set pageDescription = "Guidance for when you can use disproportionate burden when deciding not to prioritise
accessibility issues."%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "18 July 2024" %}
{% set reviewed = "18 July 2024" %}
{% set updated = "18 July 2024" %}
{% set githubIssueID = "63" %}
{% set need = "This page exists to help people understand how to manage and prioritise accessibility issues and apply
disproportionate burden if appropriate." %}
{% set aka = "" %}
{% set pagePath = "/knowledge-hub/manage-issues/disproportionate-burden" %}
{% block content %}



<h1 class="govuk-heading-xl">{{pageName}}</h1>

<p class="govuk-body">Disproportionate burden is a clause within the accessibility regulations that provides some reprieve based on an organisation's remit, and the size and cost of remediation work. Meeting the clause requires the organisation to carry out a test.</p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      The disproportionate burden test
    </span>
  </summary>
  <div class="govuk-details__text">
<p class="govuk-body">When testing for disproportionate burden, you must consider the scale and capacity of the organisation to resolve the issue.</p>
<p class="govuk-body">Evaluate:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>cost of making the product or website accessible</li>
  <li>people needed to resolve the issue</li>
  <li>benefit to users with disabilities</li>
  <li>how often the product is used</li>
  <li>how long people spend interacting with it</li>
</ul>
<p class="govuk-body">You should also:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>show what disproportionate burden you are applying in your accessibility statement</li>
  <li>publish your evidence and test outcomes</li>
</ul>
  </div>
</details>

<p class="govuk-body">The disproportionate burden clause is appropriate for smaller organisations, like a parish council that are run on a largely voluntary basis.</p>


<p class="govuk-body">It's the prioritisation or lack of designing for accessibility at the start, and throughout, that causes issues or increased expense. DfE has considerable funding, therefore, it is not appropriate for us to apply it in DfE.</p>
<p class="govuk-body">When you remove the rationale of money and time - the disproportionate burden route only:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>increases governance and internal processes</li>
    <li>opens DfE to scrutiny, as people will ask for and publicise details of the decision and calculation of the request</li>
    <li>slows down wider take-up of the regulations</li>
</ul>

<h2 class="govuk-heading-m">How to manage accessibility issues</h2>


<p class="govuk-body">If your service or content is being decommissioned, use <a href="/audits-statements/accessibility-statements">accessibility statements</a> to provide timescales.</p>
<p class="govuk-body">If you are managing content, prioritise fixing or removing inaccessible information published after September 2018.</p>
    



{% endblock %}