{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Use of colour" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "13 August 2024" %}
{% set reviewed = "13 August 2024" %}
{% set updated = "13 August 2024" %}
{% set githubIssueID = "43" %}
{% set need = "This page exists to help people understand how to prevent introducing common accessibility issues in products and services." %}
{% set aka = "" %}
{% set pagePath = "/knowledge-hub/common-issues/colour" %}
{% block content %}

  

    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <p>When used correctly, colour can be an effective way to get information across to users.</p>

     <p>When implemented incorrectly, there are multiple ways that use of colour can cause issues for users.</p>
     
     <p>For example, within a chart, if you have provided a key which states, blue represents primary school-aged children, some users will not be able to perceive the colour and therefore link it to the information within the chart.</p>

    <h2 class="govuk-heading-l">Examples of issues in DfE</h2>

    <p>We find a lot of issues relating to colour within services that use campaign sites, charts and graphs, and services that are not using the design system.</p>

    <p>Below are examples of common issues with contrast and how to avoid them.</p>

    <h3 class="govuk-heading-m">Text contrast</h3>

    <p>Low text contrast can make content difficult to read, especially for people with sight impairments or colour deficiencies.</p>

    <p>Ensure text and background colours have a contrast ratio of at least 4.5:1 for normal text and 3:1 for large text.</p>

    <p>You can use a tool such as <a href="/knowledge-hub/tools-testing/tools/contrast">Contrast Checker</a> to check the contrast ratio of your text and background colours.</p>

    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Use foreground and background colours that sufficiently contrast.</p>
                <img src="/assets/images/contrast-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="The words, 'There is a problem', and the message, 'Your first name is missing' in red text">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Do not use light text on pale backgrounds that makes content difficult to read.</p>
                <img src="/assets/images/contrast-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="The words, 'There is a problem', and the message, 'Information is missing' in red text">
            </div>
        </div>
    </div>

    <h3 class="govuk-heading-m">Non-text contrast</h3>

    <p>Checking the non-text contrast ratio on each page of your product or website ensures that users with low vision or a colour deficiency can perceive parts of the screen that may not be text but are still important for accessing and understanding content.</p>

    <p>Non-text contrast has a minimum requirement of a 3:1 contrast ratio. You can use the <a href="/knowledge-hub/tools-testing/tools/contrast">Contrast Checker</a> to check this.</p>

    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Ensure elements like buttons sufficienly contrast against the page background.</p>
                <img src="/assets/images/non-contrast-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="A dark blue button on a light grey background with the words find out more.">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Do not use colours that make it difficult to identify an element against a background.</p>
                <img src="/assets/images/non-contrast-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="A grey button on a light grey background with the words find out more.">
            </div>
        </div>
    </div>

    <h3 class="govuk-heading-m">Focus state</h3>

    <p>Focus states help users know they're on an interactive element, like a link or a form input. Focus states are important for people who use a keyboard to navigate, and for people with low vision or a colour deficiency.</p>

    <p>If the foreground and background colours do not have enough contrast, users with low vision or a colour deficiency may not see the name of the link. </p>

    <p>Changing the style of the focus state when designing services using the <a href="https://design-system.service.gov.uk/"> GOV.UK Design System</a> and <a href="https://frontend.design-system.service.gov.uk/">GOV.UK Frontend</a> can confuse people.</p>

    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Use the default GOV.UK Design System styling for focus states.</p>
                <img src="/assets/images/focus-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="The words, Follow the content style guide when writing for the web, with the words 'content style guide' highlighted with a yellow background to demonstrate focus state.">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Do not change the colour or style of focus states.</p>
                <img src="/assets/images/focus-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="The words, Follow the content style guide when writing for the web, with the words 'content style guide' written in red and underlined.">
            </div>
        </div>
    </div>

{% endblock %}