{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Content with insufficient contrast" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "13 August 2024" %}
{% set reviewed = "13 August 2024" %}
{% set updated = "13 August 2024" %}
{% set githubIssueID = "43" %}
{% set need = "This page exists to help people understand how to prevent introducing common accessibility issues in products and services." %}

{% block content %}

    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/knowledge-hub">Knowledge hub</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {{pageName}}
            </li>
        </ol>
    </div>

    <h1 class="govuk-heading-xl  govuk-!-margin-top-5">{{pageName}}</h1>

    <p>Low contrast for text, focus, and images make content difficult to percieve and understand for many users.</p>
    <p>Providing content which contrast sufficiently can help with focus, reduce eye strain, and is also crucial for users with sight impairments or colour deficiencies to read content.</p>

    <h2 class="govuk-heading-l">Examples of the issues we find</h2>

    <p>Below are some examples of common issues we find where contrast is an issue and how to avoid them.</p>

    <h3 class="govuk-heading-m">Low contrast</h3>

    <p>Low contrast can make content difficult to read, especially for people with sight impairments or colour deficiencies.</p>

    <p>Ensure text and background colours have a contrast ratio of at least 4.5:1 for normal text and 3:1 for large text.</p>

    <p>You can use a tool such as <a href="/knowledge-hub/tools-testing/tools/contrast">Contrast Checker</a> to check the contrast ratio of your text and background colours.</p>

    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Use foreground and background colours that sufficiently contrast.</p>
                <img src="/assets/images/contrast-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="The words, 'There is a problem', and the message, 'Your first name is missing' in red text">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Don't use light text on pale backgrounds that makes content difficult to read.</p>
                <img src="/assets/images/contrast-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="The words, 'There is a problem', and the message, 'Information is missing' in red text">
            </div>
        </div>
    </div>

    <h3 class="govuk-heading-m">Focus state</h3>

    <p>Focus states are used to show people they are on an interactive element, this could be a link or form input. They are especially important for people who navigate using a keyboard.</p>

    <p>Changing the style of the focus state when designing services using the GOV.UK Design System and GOV.UK Frontend, can confuse people.</p>

    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Use the default GOV.UK Design System styling for focus states.</p>
                <img src="/assets/images/focus-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="The words, Follow the content style guide when writing for the web, with the words 'content style guide' highlighted with a yellow background to demonstrate focus state.">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Don't change the colour or style of focus states.</p>
                <img src="/assets/images/focus-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="The words, Follow the content style guide when writing for the web, with the words 'content style guide' written in red and underlined.">
            </div>
        </div>
    </div>

{% endblock %}