{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Error messages" %}
{% set pageDescription = "How to ensure people can understand and resolve errors when using a service."%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "12 August 2024" %}
{% set reviewed = "12 August 2024" %}
{% set updated = "12 August 2024" %}
{% set githubIssueID = "43" %}
{% set need = "This page exists to help people understand how to prevent introducing common accessibility issues in products and services." %}
{% set aka = "" %}
{% set pagePath = "/knowledge-hub/common-issues/error-messages" %}
{% block content %}

    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <p>Error messages should help users understand what went wrong, where the problem is, and how to fix it.</p>

    <p class="govuk-body">This is especially important for people with disabilities. Clear and helpful error messages are particularly useful for people with cognitive disabilities and those who are neurodivergent.</p>

    <h2 class="govuk-heading-l">How to prevent issues</h2>

    <p>Make your forms easy to understand. This will help avoid errors in the first place.</p>
    <p class="govuk-body">For example:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>write in clear, plain language</li>
        <li>use hint text where information is required in a specific format</li>
        <li>avoid jargon</li>
    </ul>

    <p>When you have written your forms, check the error messages to ensure they're clear and easy to understand.</>
    
    <p class="govuk-body">An error message needs to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>help the user understand the problem</li>
        <li>tell the user what to do to resolve the problem</li>
        <li>match against the field input and summary message</li>
        <li>link directly from the summary to the input field with the problem</li>
    </ul>

    <p>Clear forms and error messages help users to complete tasks more effectively and without frustration. They also help reduce the chance of poor data getting into DfE systems and services.</p>

    <h2 class="govuk-heading-l">Examples of issues in DfE</h2>

    <p>Below are examples of common issues with error messages and how to avoid them.</p>

    <h3 class="govuk-heading-m">Non-descriptive error messages</h3>

    <p>When a user makes a mistake, it's important to provide them with a clear and concise error message that explains what the problem is and how to fix it. This will help users to understand what they need to do to correct the error and continue with their task.</p>

    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Use descriptive error messages that explain what the problem is and how
                to fix it.</p>
                <img src="/assets/images/error-description-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="The words, 'There is a problem', and the message, 'Your first name is missing' in red text">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Do not use generic error messages that are ambiguous or don't explain the problem.</p>
                <img src="/assets/images/error-description-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="The words, 'There is a problem', and the message, 'Information is missing' in red text">
            </div>
        </div>
    </div>

    <h3 class="govuk-heading-m">Showing errors from a server or database</h3>

    <p>Sometimes errors are raised from a server or database, these errors are not user-friendly and can be confusing. It's important to catch these errors and provide a clear, user-friendly message.</p>

    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Use descriptive error messages that explain what the problem is and how
                to fix it.</p>
                <img src="/assets/images/error-db-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="The words, 'There is a problem', and the message, 'Your first name is missing' in red text">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Do not show database generated errors. They can expose information to hackers.</p>
                <img src="/assets/images/error-db-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="The words, 'There is a problem', and the message, 'Information is missing' in red text">
            </div>
        </div>
    </div>

    <h3 class="govuk-heading-m">Not linking error messages to the input</h3>

    <p>Linking the error message in an error summary section to the input makes it easier for users to find and correct the error. This is particularly important for users who are using screen readers, as it helps them to understand which input the error message is referring to.</p>

    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Link the error message to the ID of the input that has the error.</p>
                <img src="/assets/images/error-link-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="The words, 'There is a problem', and the message, 'Your first name is missing' in red text">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Do not use plain text in error messages. It makes it harder to navigate the form.</p>
                <img src="/assets/images/error-link-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="The words, 'There is a problem', and the message, 'Information is missing' in red text">
            </div>
        </div>
    </div>

    <h3 class="govuk-heading-m">Mismatched error messages</h3>

    <p>Error summaries are a list of all the errors on a page. They're usually placed at the top of the page and help users quickly identify and correct any errors they have made.</p>
    <p>Error summaries are particularly useful for users who are using screen readers, as they provide a clear and concise list of all the errors on a page.</p>

    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Ensure the error is linked to the input in error, and is descriptive.</p>
                <img src="/assets/images/error-label-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="The words, 'There is a problem', and the message, 'Your first name is missing' in red text">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Do not have different error messages in the summary and against the input.</p>
                <img src="/assets/images/error-label-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="The words, 'There is a problem', and the message, 'Information is missing' in red text">
            </div>
        </div>
    </div>

    <h2 class="govuk-heading-l">Resources and guidance</h2>

    <p>Find more information on forms and error messages using the following resources:</p>

    <ul class="govuk-list govuk-list--spaced">
       <li><a href="https://digital.nhs.uk/blog/transformation-blog/2019/how-to-write-good-questions" rel="noopener noreferrer" target="_blank">How to write good questions, NHS Digital<span class="govuk-visually-hidden">(link opens in a new tab)</span></a>.
       </li>
        <li>
            <a href="https://www.nngroup.com/articles/web-form-design/" rel="noopener noreferrer" target="_blank">Web form design, Nielsen Norman Group<span class="govuk-visually-hidden">(link opens in a new tab)</span></a>.
        </li>
        <li>
            <a href="https://www.w3.org/WAI/WCAG22/Understanding/error-prevention-all.html" rel="noopener noreferrer" target="_blank">Understand error prevention, WCAG 3.3.6<span class="govuk-visually-hidden">(link opens in a new tab)</span></a>.
        </li>
        <li>
            <a href="https://design.homeoffice.gov.uk/accessibility/forms" rel="noopener noreferrer" target="_blank">Forms guidance, Home Office<span class="govuk-visually-hidden">(link opens in a new tab)</span></a>.
        </li>
    </ul>

    <div class="dfe-manual-callout">
        <div class="dfe-manual-callout--header">
            <img src="/assets/images/new-window.png" alt="" />
            <h3 class="govuk-heading-m">Follow GOV.UK Design System guidance</h3>
        </div>

        <div class="dfe-manual-callout--content">
            <p>Use the GOV.UK Design System for the following components and patterns:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="https://design-system.service.gov.uk/components/error-message/" rel="noopener noreferrer" target="_blank">error message <span class="govuk-visually-hidden">(link opens in a new tab)</span></a>
                </li>
                <li>
                    <a href="https://design-system.service.gov.uk/components/error-summary/" rel="noopener noreferrer" target="_blank">error summary <span class="govuk-visually-hidden">(link opens in a new tab)</span></a>
                </li>
                <li>
                    <a href="https://design-system.service.gov.uk/patterns/validation/" rel="noopener noreferrer" target="_blank">recovering from validation errors <span class="govuk-visually-hidden">(link opens in a new tab)</span></a>
                </li>
            </ul>

        </div>
    </div>

{% endblock %}