{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Incorrect heading structure" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "13 August 2024" %}
{% set reviewed = "13 August 2024" %}
{% set updated = "13 August 2024" %}
{% set githubIssueID = "43" %}
{% set need = "This page exists to help people understand how to prevent introducing common accessibility issues in products and services." %}

{% block content %}

    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/knowledge-hub">Knowledge hub</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {{pageName}}
            </li>
        </ol>
    </div>

    <h1 class="govuk-heading-xl  govuk-!-margin-top-5">{{pageName}}</h1>

{% endblock %}