{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Links" %}
{% set pageDescription = "How to ensure links are accessible and understandable."%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "13 August 2024" %}
{% set reviewed = "13 August 2024" %}
{% set updated = "13 August 2024" %}
{% set githubIssueID = "43" %}
{% set need = "This page exists to help people understand how to prevent introducing common accessibility issues in products and services." %}
{% set aka = "" %}
{% block content %}

  

    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <p>Some users, especially those using a screen reader may navigate your content by looking for links or viewing links in a list to try to find specific content.</p>
    <p>If links are not unique or descriptive this can be frustrating, for example if there is a long list of ‘more info’ links, users would not know what this information relates to.</p>
    <p>By making links descriptive users will know what to expect when they select the link.</p>
    <p>You should also ensure users know if external links open in a new tab or window.</p>

    <h2 class="govuk-heading-l">How to prevent issues</h2>

    <p>Using the following approaches will help you write links that work for all users.</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>write in clear, plain language</li>
        <li>don't use terms like "click here"</li>
        <li>use unique and descriptive link text</li>
    </ul>

    <h2 class="govuk-heading-l">Examples of the issues we find</h2>

    <p>Below are some examples of common issues we find with links and how to avoid them.</p>

    <h3 class="govuk-heading-m">Repetitive links</h3>

    <p>In some cases, repetitive links are necessary, for example, in a table where actions may be required.</p>

    <p>You can make links more useful by including visually-hidden text for each link, which supports screen reader users to understand the context of the link.</p>

    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Use hidden text to add extra information for the edit link.</p>
                <img src="/assets/images/repeat-links-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="Example of a table with repeated Edit links with visually hidden text code example.">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Don't use generic content without addtional context.</p>
                <img src="/assets/images/repeat-links-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="Example fo a table with repeated Edit links with no visually hidden text.">
            </div>
        </div>
    </div>

     <h3 class="govuk-heading-m">Descriptive links</h3>

    <p>In some cases, repetitive links are necessary, for example, in a table where actions may be required.</p>

    <p>You can make links more useful by including visually-hidden text for each link, which supports screen reader users to understand the context of the link.</p>

    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Use inline links that are descriptive and unique.</p>
                <img src="/assets/images/descriptive-links-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="Text which says 'You may be eligible for free childcare if you’re in England, and working.' with free childcare as the link">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Dont link long sentences or provide more information than neccessary.</p>
                <img src="/assets/images/descriptive-links-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="Text which says 'Check if you are eligible for free childcare if you’re in England, and working' and all the text is a link">
            </div>
        </div>
    </div>

{% endblock %}