{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Non-descriptive links" %}
{% set pageDescription = "How to ensure links are accessible and understandable."%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "13 August 2024" %}
{% set reviewed = "13 August 2024" %}
{% set updated = "13 August 2024" %}
{% set githubIssueID = "43" %}
{% set need = "This page exists to help people understand how to prevent introducing common accessibility issues in products and services." %}

{% block content %}

  

    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <p>Some users, especially those using a screen reader, may navigate content by looking for links or viewing links in a list to try to find specific content.</p>
    <p>If links are not unique or descriptive this can be frustrating. For example if there is a long list of ‘more info’ links, users would not know what this information relates to.</p>

    <h2 class="govuk-heading-l">How to prevent issues</h2>

    <p>Make links descriptive so that users will know what to expect when they select the link.</p>

    <p>Ensure users know if external links open in a new tab or window. For example, <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">link text (opens in new tab)</a>.</p>
   

    <p>Use the following approaches to write links that work for all users:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>use clear, plain language</li>
        <li>use unique and descriptive link text</li>
        <li>don't use terms like 'click here'</li>
    </ul>

    <h2 class="govuk-heading-l">Examples of issues in DfE</h2>

    <p>Below are some examples of common issues with links and how to avoid them.</p>

    <h3 class="govuk-heading-m">Repetitive links</h3>

    <p>In some cases, repetitive links are necessary, for example, in a table where actions may be required.</p>

    <p>You can make links more useful by including visually-hidden text for each link, which supports screen reader users to understand the context of the link.</p>

    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Use hidden text to add extra information for the edit link.</p>
                <img src="/assets/images/repeat-links-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="Example of a table with repeated Edit links with visually hidden text code example.">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Don't use generic content without addtional context.</p>
                <img src="/assets/images/repeat-links-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="Example fo a table with repeated Edit links with no visually hidden text.">
            </div>
        </div>
    </div>

     <h3 class="govuk-heading-m">Non-descriptive links</h3>

    <p>If links are not unique or descriptive users will not know what to expect.</p>

    <p>

    <p></p>

    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Use inline links that are descriptive and unique.</p>
                <img src="/assets/images/descriptive-links-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="Text which says 'You may be eligible for free childcare if you’re in England, and working.' with free childcare as the link">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Dont link long sentences or provide more information than neccessary.</p>
                <img src="/assets/images/descriptive-links-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="Text which says 'Check if you are eligible for free childcare if you’re in England, and working' and all the text is a link">
            </div>
        </div>
    </div>

    <div class="dfe-manual-callout">
        <div class="dfe-manual-callout--header">
            <img src="/assets/images/new-window.png" alt="" />
            <h3 class="govuk-heading-m">Follow GOV.UK Design System guidance</h3>
        </div>

        <div class="dfe-manual-callout--content">
            <p>The GOV.UK Design System provides guidance on the following components and patterns:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="https://design-system.service.gov.uk/styles/links/" rel="noopener noreferrer" target="_blank">links <span class="govuk-visually-hidden">(link opens in a new tab)</span></a>
                </li>

            </div>
        </div>
{% endblock %}