{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Status changes to content" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "13 August 2024" %}
{% set reviewed = "13 August 2024" %}
{% set updated = "13 August 2024" %}
{% set githubIssueID = "43" %}
{% set need = "This page exists to help people understand how to prevent introducing common accessibility issues in products and services." %}
{% set aka = "" %}
{% set pagePath = "/knowledge-hub/common-issues/status-changes" %}
{% block content %}



    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <p>When content is altered and updated dynamically using JavaScript, sighted users can understand the changes to content as they can be perceived visually.</p>
    <p>For users who are blind, or have poor vision, are using a screen reader, or screen magnifier, this change to content needs to be provided in other ways.<p>

    <p>For example, when a page is loading, usually a visual spinning circle can be seen by default, this update would not be provided to screen readers.</p>

    <h2 class="govuk-heading-l">How to prevent issues</h2>


    <p>ARIA live regions are one way changes to content can be provided to screen readers. Ensure the correct live region is provided depending on the type of change.</p>

    <p>You can find more information about <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA">ARIA live regions</a> on the Mozilla Developer Network.</p>


    <p>Incorrect implementation of ARIA can sometimes make a user experience worse. If you need advice on how to implement ARIA live regions, contact <a href="/support">DesignOps</a>. </p>

    <h2 class="govuk-heading-l">Examples of issues in DfE</h2>

    <p>Below are some examples of common issues where services use dynamic content updates and how to avoid them.</p>

    <h3 class="govuk-heading-m">Changes to content not provided to screen readers</h3>





    <div class="govuk-grid-row dfe-flex">
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-do">
                <h3 class="govuk-heading-s">Do</h3>
                <p class="govuk-!-margin-bottom-5">Use ARIA attributes to tell screen readers about content changes.</p>
                <img src="/assets/images/loading-do.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                alt="Example of a circle of lines which spin around and code for aria region.">

            </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-flex-item">
            <div class="dfe-panel-dont">
                <h3 class="govuk-heading-s">Don't</h3>
                <p class="govuk-!-margin-bottom-5">Don't rely on icons alone to alert users to changes on a page.</p>
                <img src="/assets/images/loading-dont.png" style="width:100%;" class="govuk-!-margin-bottom-5"
                  alt="Example of a circle of lines which spin around and no code to support aria live region.">
            </div>
        </div>
    </div>


{% endblock %}