{% extends "layouts/full.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "Training" %}
{% set pageDescription = "Online training for learning about, and developing accessibility awareness and knowledge."%}
{% set pagePath = "/training" %}

{% set mainClasses = "govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% block content %}

   <div class="dfe-width-container govuk-!-margin-top-9">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Training modules</h2>
            <div class="dfe-grid-container govuk-!-margin-top-3">

               <div class="dfe-card">
                  <img src="/assets/images/basic.png" alt="">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/training/accessibility-inclusion"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Basic training</a>
                     </h3>
                     <p>Training for everyone to understand the basics of accessibility and inclusive design.</p>
                  </div>
               </div>
               <div class="dfe-card">
                  <img src="/assets/images/intermediate.png" alt="">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/training/intermediate"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Intermediate training</a>
                     </h3>
                     <p>Moving on from basic to more complex areas of accessibility awareness and understanding.</p>
                  </div>
               </div>
                <div class="dfe-card">
                  <img src="/assets/images/advanced.png" alt="">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                       Advanced training
                     </h3>
                     <p>Coming soon.</p>
                  </div>
               </div>

            </div>

            {# <section>
               <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                  <div class="govuk-grid-row split-panel" style="background: #f3f2f1;">
                     <div class="govuk-grid-column-one-half text-column">
                        <strong class="govuk-tag govuk-tag--green">Everyone</strong>
                        <h2 class="govuk-heading-l govuk-!-margin-top-3">Introduction to accessibility and inclusive design</h2>
                        <p class="govuk-body-l">Training for everyone to understand the basics of accessibility and inclusive design.</p>

                        <p class="govuk-body">Learning time: 10 minutes</p>
                        <p class="govuk-!-margin-bottom-0">
                           <a href="/training/accessibility-inclusion">Start training</a>
                        </p>
                     </div>
                     <div class="govuk-grid-column-one-half image-column">
                        <div class="image-container"
                     style="background-image: url('/assets/images/brown-sweater.jpg');"></div>
                     </div>
                  </div>
               </div>
            </section> #}

         </div>
      </div>
   </div>

   <section style="background-color:#ffffff;" class="govuk-!-padding-top-5 govuk-!-padding-bottom-5">
      <div class="govuk-width-container">

         <h2 class="govuk-heading-l">More training</h2>

         <div class="dfe-grid-container govuk-!-margin-top-3">

            <div class="dfe-card">
               <div class="dfe-card-container">
                  <h3 class="govuk-heading-m">
                     <a href="/training/wcag"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">WCAG 2.2 and GDS monitoring</a>
                  </h3>
                  <p>Video discussing the latest additions within WCAG 2.2 and some practical examples of passes and failures.</p>
               </div>
            </div>

         </div>

       
      </div>
   </section>

   <section style="background-color:#f0f4f5;"  class="govuk-!-padding-top-5 govuk-!-padding-bottom-9 govuk-!-margin-top-5">
      <div class="dfe-width-container govuk-!-margin-top-9">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-l">Resources in DfE</h2>
               <p class="govuk-body">If you are looking for information regarding workplace adjustments, how to get assistive technology, creating accessible Microsoft documents or the accessibility champions scheme, this can all be found in the <a href="https://educationgovuk.sharepoint.com/sites/lvewp00043/SitePages/Tools-and-Resources.aspx" target="_blank" rel="noopener noreferrer">Digital Accessibility Hub (DfE Intranet)</a>.</p>
               <p>This content has been created, and is owned by the Department for Education (DfE) accessibility team.</p>
               <div class="govuk-inset-text">
               All these links open pages on the DfE intranet. If you're not a DfE employee, you will not be able to access this content.</div>
               <div class="dfe-grid-container govuk-!-margin-top-9">

                  <div class="dfe-card">
                     <img src="/assets/images/champions.png" alt="">
                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="https://educationgovuk.sharepoint.com/sites/lvewp00043/SitePages/Champions-Homepage.aspx" target="_blank"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Accessibility Champion Scheme</a>
                        </h3>
                        <p>Learn about the Accessibility Champion Scheme and how to become a champion.</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <img src="/assets/images/ux.png" alt="">
                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="https://educationgovuk.sharepoint.com/sites/lvewp00043/SitePages/Experience-Lab.aspx" target="_blank"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Visit the Experience Lab in Sheffield</a>
                        </h3>
                        <p>Visit the lab in Sheffield and learn about assitive technology and test your services.
                     </p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <img src="/assets/images/microsoft.png" alt="">
                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="https://educationgovuk.sharepoint.com/sites/lvewp00043/SitePages/Are-you-using-PowerPoint-correctly-.aspx" target="_blank"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Documents and presentations</a>
                        </h3>
                        <p>Learn how to make documents and presentations more accessible.</p>
                     </div>
                  </div>
               </div>

               <div class="dfe-grid-container govuk-!-margin-top-9">

                  <div class="dfe-card">

                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="https://educationgovuk.sharepoint.com/sites/lvewp00361/SitePages/Blogs.aspx" target="_blank"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Blogs from the disability network</a>
                        </h3>
                        <p>Find blogs of lived experiences of different conditions and topics, as well as past events and speaker sessions run by the network.</p>
                     </div>
                  </div>
                  <div class="dfe-card">

                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="https://educationgovuk.sharepoint.com/sites/fw/SitePages/Neurodivergence-Network.aspx" target="_blank"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Neurodivergence network</a>
                        </h3>
                        <p>The Neurodivergence Network is a staff network set up to support colleagues with neurodivergent differences. 
                     </p>
                     </div>
                  </div>

               </div>
            </div>
         </div>

         <div class="govuk-grid-row">

            <div class="govuk-grid-column-full govuk-!-margin-top-9 govuk-!-margin-bottom-5">
               <div class="govuk-grid-row split-panel split-panel--bg-white ">
                  <div class="govuk-grid-column-one-half text-column">
                     <h2 class="govuk-heading-l">Accessibility Awareness Month</h2>
                     <p class="govuk-body">Every May, we run a month of events in DfE centred around raising the awareness and understanding of accessibility and inclusive design, featuring workshops, external speakers and training sessions.</p>
                     <p class="govuk-body">
                        <a href="https://educationgovuk.sharepoint.com/sites/DesignOps/SitePages/Accessibility-Awareness-Month.aspx?csf=1&web=1&e=lzubaj">Watch events from May 2024</a>
                     </p>
                  </div>
                  <div class="govuk-grid-column-one-half image-column">
                     <div class="image-container"
                     style="background-image: url('/assets/images/event.jpg');"></div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </section>
{% endblock %}