{% extends "layouts/homepage.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "Training" %}
{% set pageDescription = "TK"%}

{% set mainClasses = "govuk-!-padding-top-0" %}

{% block content %}

<style>
   .wider-grid {
      max-width: 80%;
      margin: 0 auto;
   }

   .full-width-div {
      position: relative;
      width: 100%;
      height: 100vh; /* Full viewport height */
      max-height: 560px; /* Max height of 560px */
      background: url('https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?q=80&w=4140&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center;
      background-size: cover;
      transition: transform 0.3s ease; /* Smooth transform */
   }

   .full-width-div:hover {
      transform: scale(1.006);
   }

   .overlay-text {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.75);
      color: white;
      padding: 30px 40px;
      width: 40%;
   }

   .overlay-text h2 {
      color: white;
   }

   .overlay-text .govuk-button {
      margin-bottom: 0px;
   }

   .clickable-div {
      display: block;
      position: relative;
      text-decoration: none;
      color: inherit;
   }

   .clickable-div:focus {
      outline: none;
   }

   .govuk-button:focus {
      outline: 3px solid #ffdd00; /* Custom focus outline */
      outline-offset: 2px;
   }

   @media (max-width: 768px) {
      .wider-grid {
         max-width: 90%;
         margin: 0 auto;
      }

      .full-width-div {
         position: relative;
         width: 100%;
         height: 100vh; /* Full viewport height */
         max-height: 360px; /* Max height of 360px */
      }

      .overlay-text {
         width: 90%;
         left: 0px;
      }
   }

   @media (min-width: 1900px) {
      .wider-grid {
         max-width: 70%;
         margin: 0 auto;
      }
   }
</style>

<div class="wider-grid govuk-!-margin-top-9">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
       
            <div class="full-width-div">
               <div class="overlay-text">
                  <h2 class="govuk-heading-l">Learn the basics of accessibility and inclusive design</h2>
                  <a href="/training/accessibility-inclusion" role="button" draggable="false"
                     class="govuk-button govuk-button--start govuk-button--inverse" data-module="govuk-button">
                     Start now
                     <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                     </svg>
                  </a>
               </div>
            </div>
        
      </div>
   </div>
</div>

<section style="background-color:#f0f4f5;" class="govuk-!-padding-top-9 govuk-!-padding-bottom-9 govuk-!-margin-top-9">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Professions</h2>
         </div>
         <div class="govuk-grid-column-full">
            <div class="dfe-grid-container">
               <div class="dfe-card">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Design</a>
                     </h3>
                     <p>Accessibility and inclusive design principles and standards for content, interaction, and service designers.</p>
                  </div>
               </div>
               <div class="dfe-card">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Product and delivery</a>
                     </h3>
                     <p>Training for business analysts, product, and delivery managers to support planning, legal requirements, and standards.</p>
                  </div>
               </div>
               <div class="dfe-card">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Technical</a>
                     </h3>
                     <p>Guidance for technical roles to support good development and testing practices to identify and prevent issues.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}
