{% extends "layouts/homepage.html" %}

{% set selectedNav = "Audits and statements" %}
{% set pageName = "Audits and statements" %}
{% set pageDescription = "Find out when you need an audit and how to ensure your statements are legally correct."%}

{% set mainClasses = "govuk-!-padding-top-0" %}

{% block hero %}
<section class="dfe-page-hero govuk-!-padding-bottom-9" style="background: #003a69;">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{pageName}}</h1>

         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block content %}






<div class="govuk-width-container govuk-!-padding-top-7">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

         <h2 class="govuk-heading-l">Audits</h2>
         <p class="govuk-body">Find out when you need an audit and how to ensure your statements are legally correct.
         </p>
         <p>This guidance helps you to meet the <strong>DDT-76 Standard - Audit your site before it is used by
               users</strong>.</p>

         <ul class="govuk-list">
            <li><a href="/templates/page-2" class="dfe-manual-btn govuk-link--inverse">Read the guidance</a></li>

         </ul>

      </div>
   </div>

</div>

<style>
   .dfe-manual-btn {

      background-color: #005ea5;
      box-shadow: none;
      font-size: 1rem;
      padding: 12px 24px;
      text-decoration: none;
      white-space: normal;

   }
</style>

{% endblock %}