{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Accessibility statements" %}
{% set pageName = "Accessibility statements" %}
{% set pageDescription = "All products and websites must have an accurate, legally-compliant, and up to date
accessibility statement."%}

{% set sideNav = "page-2" %}

{% block sidenav %}

<nav class="navbar">

  <nav aria-label="Main Navigation">
    <ul class="nav-list">
      <li>
        <a href="/templates/hub" class="nav-link">
          Overview
        </a>
      </li>
      <li>
        <a href="#" aria-expanded="false" aria-controls="sub-nav-1" class="nav-link-toggle">
          Audits <span class="icon"></span>
        </a>
        <ul id="sub-nav-1" class="sub-nav">
          <li><a href="/templates/page" class="{% if sideNav == 'page' %} sub-nav--active {% endif %}">Page</a></li>
          <li><a href="#">Sub-section 1.2</a></li>
          <li><a href="#">Sub-section 1.3</a></li>
        </ul>
      </li>
      <li>
        <a href="#" aria-expanded="false" aria-controls="sub-nav-2" class="nav-link-toggle">
          Accessibility statements <span class="icon"></span>
        </a>
        <ul id="sub-nav-2" class="sub-nav">
          <li><a href="/templates/page-2" class="{% if sideNav == 'page-2' %} sub-nav--active {% endif %}">Why you need
              to publish a statement</a></li>
          <li><a href="#">Templates</a></li>
        </ul>
      </li>

    </ul>
  </nav>


</nav>


{% endblock %}


{% block content %}



<h1 class="govuk-heading-xl">{{pageName}}</h1>



<p>You must have a link to the service or website accessibility statement on every page, in the footer. </p>

<p>For mobile apps, the statement should be available on the website of the public sector body that developed the app,
  or with other information available when downloading the app. The statement can also be made available from within
  the app. Kit finally</p>


<h2 class="govuk-heading-l">Statement templates</h2>

<p>The following statements are designed to make it easier to create the correct statement for your service, and it's
  level of compliance to WCAG 2.2 Level AA. To use the correct statement template, you should understand <a
    href="/accessibility/determine-conformance">conformance requirements</a>.

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Past day
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Past week
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        Past month
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
        Past year
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Past day</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">0</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Past week</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">18</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell">20</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">27</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-l">Past month</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">98</td>
          <td class="govuk-table__cell">95</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">122</td>
          <td class="govuk-table__cell">131</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">126</td>
          <td class="govuk-table__cell">142</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <h2 class="govuk-heading-l">Past year</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">1380</td>
          <td class="govuk-table__cell">1472</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">1129</td>
          <td class="govuk-table__cell">1083</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">1539</td>
          <td class="govuk-table__cell">1265</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<p>If you are unsure of what to put in your statement, speak to the <a href='/design-ops/' target='_blank'>DesignOps
    team</a>.</p>

<p>As a general rule, if you have just 1 failing success criteria against Level A or AA, you should use the partially
  conforming template. </p>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Template code</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Conformance</th>
      <th scope="col" class="govuk-table__header">Use when</th>
      <th scope="col" class="govuk-table__header">Template</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Fully conforming</th>
      <td class="govuk-table__cell">
        <p>All pages of the website or service, including every step in any transactional service, must meet all level A
          and AA success criteria in full.</p>
        <p><strong>There are no exceptions to this level of declaration.</strong></p>
      </td>
      <td class="govuk-table__cell"><a href="/accessibility/accessibility-statements/full-statement">Get template code
          <span class="govuk-visually-hidden">for full conformance</span></a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Partially conforming</th>
      <td class="govuk-table__cell">1 or more, but less than half, of Level A and AA success criteria have failed to be
        met.</td>
      <td class="govuk-table__cell"><a href="/accessibility/accessibility-statements/partial-statement">Get template
          code <span class="govuk-visually-hidden">for partial conformance</span></a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Non-conforming</th>
      <td class="govuk-table__cell">More than half of all Level A and AA success criteria have not been met.</td>
      <td class="govuk-table__cell"><a href="/accessibility/accessibility-statements/notmet-statement">Get template code
          <span class="govuk-visually-hidden">for non conformance</span></a></td>
    </tr>
  </tbody>
</table>

<p><a href="/design-ops">Contact DesignOps</a> for guidance and support on understanding conformance criteria.
</p>

<h2 class="govuk-heading-l">Disproportionate burden</h2>

<p>You might judge that the benefits of making some things accessible would not justify the cost to DfE to resolve. In
  that case, you can claim it would not be reasonable for you to make those things accessible because it’s a
  disproportionate burden.</p>

<p>You cannot take things like lack of time or knowledge into account in your assessment - or argue that making things
  accessible is a disproportionate burden because you’ve not given it priority.</p>

<h3 class="govuk-heading-m">Out of scope content</h3>

<ul>
  <li>pre-recorded audio and video published before 23 September 2020</li>
  <li>live audio and video</li>
  <li>heritage collections like scanned manuscripts</li>
  <li>PDFs or other documents published before 23 September 2018 - unless users need them to use a service, for example
    a form that lets you request school meal preferences</li>
  <li>maps - but you’ll need to provide essential information in an accessible format like an address</li>
  <li>third party content that’s under someone else’s control if you did not pay for it or develop it yourself - for
    example, social media ‘like’ buttons</li>
  <li>content on intranets or extranets published before 23 September 2019 (unless you make a major revision after that
    date)</li>
  <li>archived websites if they’re not needed for services your organisation provides and they are not updated</li>
</ul>

<p>Read full guidance about <a
    href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps#when-complying-with-accessibility-regulations-might-be-a-disproportionate-burden"
    target="_blank">disproportionate burden and out of scope content (opens in new tab)</a> on GOV.UK</p>



<div class="govuk-!-margin-top-9"></div>

<p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<p class="govuk-body-s">Last updated 18 June 2024</p>

<a href="https://github.com/DFE-Digital/design/issues/46" target="_blank" class="govuk-link">Suggest a change to this
  page</a>
</p>




{% endblock %}