{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Overview" %}
{% set pageDescription = "Guidance for how to use tools to test for, and understand accessibility issues in a product."%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "1 August 2024" %}
{% set reviewed = "1 August 2024" %}
{% set updated = "1 August 2024" %}
{% set githubIssueID = "36" %}
{% set need = "This page exists to help people understand how to use tools to test for, and understand accessibility issues in a product." %}

{% block content %}

  

    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <p class="govuk-body">You should build automated and manual tests into each phase of delivery.</p> 
    
     <p class="govuk-body">Every time you add a new component, page or functionality to your product or website you should run accessibility tools to check that new issues have not been introduced. Addressing issues early ensures they are not introduced into live services.</p>

    <p class="govuk-body">You will still need to get an <a href="/audits-statements">accessibility audit</a>, as no test can guarantee your service is fully accessible.</p>

    <h2 class="govuk-heading-l">No tool can guarantee a website is accessible</h2>
    <p>Tools cannot be used as a replacement for accessibility audits or manual testing.</p>
    <p class="govuk-body">Automated testing tools provide around 30 to 40% of coverage and often miss high impact issues. They can also produce <a href="/knowledge-hub/tools-testing/false-positives">false positives</a>.</p>
    <p class="govuk-body">You should run multiple automated tools, as well as manual checks, to sense check accessibility issues and to ensure they are accurate.</p>

    <div class="govuk-inset-text">You'll need to be able to use a keyboard and visually identify interactive elements when carrying out accessibility tests.</div>

    <h2 class="govuk-heading-l">Finding issues early saves time and money</h2>
    <p class="govuk-body">Identifying accessibility issues early means they can be addressed before too much development work has started.</p>
    
    <p class="govuk-body">It's estimated that fixing issues in the design phase could be up to 30 times cheaper than fixing them after the product or website development is live.</p>

    <h2 class="govuk-heading-l">Automated tools</h2>
    <p class="govuk-body">Automated accessibility tools apply a set of checks against individual pages in a service or website.</p> 
    
    <p class="govuk-body">Make automated tests part of your build process to check for a range of accessibility issues. Remember though that automated tests only check some of what you need to test.</p>
    <p class="govuk-body">Automated tools work best when used collectively, so it's recommended that you install and run the <a href="/knowledge-hub/tools-testing/tools/arc">ARC Toolkit</a>, <a href="/knowledge-hub/tools-testing/tools/axe">axe DevTools</a> and <a href="/knowledge-hub/tools-testing/tools/wave">WAVE</a> together.</p>

    <p class="govuk-body">Once installed, the tests are quick and easy to run and can find some accessibility issues by looking at the code of each webpage.</p>

    <h2 class="govuk-heading-l">Manual checks</h2>
    <p class="govuk-body">You can run manual checks to get an indication of, and find common accessibility issues, on your website or product.</p>

    <p class="govuk-body">Examples include <a href="/knowledge-hub/tools-testing/tools/accessibility-insights">Accessibility Insights</a>, <a href="/knowledge-hub/tools-testing/tools/contrast">Contrast Checker</a> and <a href="/knowledge-hub/tools-testing/tools/headings-map">HeadingsMap</a>.</p>

    <h2 class="govuk-heading-l">Bookmarklets</h2>
    <p class="govuk-body">A <a href="/knowledge-hub/tools-testing/bookmarklets">bookmarklet</a> is a link you add to your favourites. You can use them to highlight or identify things on a page that you might want to check.</p>

    <p class="govuk-body">Examples include <a href="/knowledge-hub/tools-testing/bookmarklets/blur">Blur page</a>, <a href="/knowledge-hub/tools-testing/bookmarklets/lists">Lists</a> and <a href="/knowledge-hub/tools-testing/bookmarklets/text-spacing">Text spacing</a>.</p>

{% endblock %}