{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Tools and testing" %}
{% set pageName = "WAVE Evaluation" %}
{% set pageDescription = "Guidance for installing and using WAVE Evaluation to test for accessibility issues."%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "1 August 2024" %}
{% set reviewed = "1 August 2024" %}
{% set updated = "1 August 2024" %}
{% set githubIssueID = "36" %}
{% set need = "This page exists to help people understand how to use tools to test for, and understand accesisbility issues in a product." %}

{% block content %}

    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/tools-testing">Tools and testing</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {{pageName}}
            </li>
        </ol>
    </div>

    <h1 class="govuk-heading-xl  govuk-!-margin-top-5">{{pageName}}</h1>

    <h2 class="govuk-heading-l">Installation</h2>

    <p class="govuk-body">{{pageName}} is a browser extention. Use the following links to install {{pageName}} for your browser.</p>

    <ul class="govuk-list govuk-list--spaced">
        <li class="govuk-list__item">
            <a href="https://chromewebstore.google.com/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh" target="_blank">{{pageName}} for Chrome and Edge</a>
        </li>
        <li class="govuk-list__item">
            <a href="https://addons.mozilla.org/en-GB/firefox/addon/wave-accessibility-tool/" target="_blank">{{pageName}} for Firefox</a>
        </li>
    </ul>

    <p>{{pageName}} is not available for Safari.</p>

    <h2 class="govuk-heading-l">How to use {{pageName}}</h2>

    <p>Once installed, WAVE can be launched from your extensions bar. It will appear as a circle with a W in the centre.</p>

    <p>When selected, WAVE will open up to the side of your browser window and automatically starts the checks. You will need to select the details of the checks you want to appear visually on the screen. Within ‘view details’, select only alerts and errors to be flagged.</p>

    <h2 class="govuk-heading-l">Results</h2>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <img src="/assets/images/wave.png" alt="Screenshot showing results of the WAVE Evaluation tool. With a list of issues classified by errors, alerts and best practice." class="govuk-!-margin-top-0 govuk-!-margin-bottom-5">

        </div>
        <div class="govuk-grid-column-one-half">
            <img src="/assets/images/wave-detail.png" alt="Screenshot showing results of the WAVE Evaluation tool. With a list of issues classified by errors, alerts and best practice." class="govuk-!-margin-top-0 govuk-!-margin-bottom-5">

        </div>
        <div class="govuk-grid-column-one-half">
            <p>Example of the error summary view in WAVE showing the range of checks.</p>
            <p>You only need to focus on the ‘errors’ and ‘alerts’.</p>
        </div>
        <div class="govuk-grid-column-one-half">

            <p>Example of the details tab on WAVE, showing ‘errors’.</p>
            <p>These are for you to prioritise and consider in the context of your own product or service.
</p>

        </div>
    </div>

    <h2 class="govuk-heading-l">What to do next</h2>

    <p>You need to check or verify that the accessibility issues the tool finds are issues, rather than <a href="/tools-testing/false-positives">false positives or false assurances</a>.</p>

    <p>If an issue is genuine, speak to your developer or design team to consider, then implement, a fix.</p>

    <p>You can read guidance for how to <a href="/knowledge-hub/managing-issues">manage and prioritise issues</a> in the knowledge hub.</p>

    <style>
        img {
            box-sizing: border-box;
            width: 100%;
            padding: 25px;
            border: 1px solid #666666;
        }
    </style>
{% endblock %}