{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Blur page" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "6 August 2024" %}
{% set reviewed = "6 August 2024" %}
{% set updated = "6 August 2024" %}
{% set githubIssueID = "70" %}
{% set need = "This page exists to help people understand how to use tools to test for, and understand accessibility issues in a product." %}
{% set aka = "" %}
{% block content %}


   <h1 class="govuk-heading-xl">{{pageName}}</h1>

   <div class="govuk-inset-text">
      <p>Drag the following links to your bookmark bar to install the bookmarklets.</p>
      <a href="javascript:(function() {    document.body.style.filter = 'blur(0.7px)';})();">Light blur</a>
      <a href="javascript:(function() {    document.body.style.filter = 'blur(1.4px)';})();">Medium blur</a>
      <a href="javascript:(function() {    document.body.style.filter = 'blur(2.1px)';})();">Heavy blur</a>
   </div>

   <p>Once the bookmarklet is installed, visit a webpage and click the bookmarklet in your bookmark bar.</p>

   <p>The bookmarklets will blur the content on the page. This simulates someone with cataracts or poor vision.</p>

   <h2 class="govuk-heading-l">Example of using the bookmarklet</h2>
   <h3 class="govuk-heading-m">Before</h3>
   <p>Example of a page on the <a href="https://design.education.gov.uk/">DfE Design manual</a> with no blur applied.</p>

   <img src="/assets/images/blur-before.png" alt="The design system page in the DfE Design manual without any blur being applied." class="screenshot govuk-!-margin-top-5 govuk-!-margin-bottom-5">
   <p>
      <a href="/assets/images/blur-before.png" target="_blank">View larger image in a new tab</a>
   </p>
   <h3 class="govuk-heading-m">After</h3>
   <p>Example of a page on the <a href="https://design.education.gov.uk/">DfE Design manual</a> with a medium blur applied.</p>
   <img src="/assets/images/blur.png" alt="The design system page in the DfE Design manual showing a medium level of blur being applied to the page." class="screenshot govuk-!-margin-top-5 govuk-!-margin-bottom-5">
   <p>
      <a href="/assets/images/blur.png" target="_blank">View larger image in a new tab</a>
   </p>

   <h2 class="govuk-heading-l">More information</h2>

   <p>This bookmarklet was created by the <a href="/support">DesignOps team</a> in DfE.</p>

{% endblock %}