{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Bookmarklets" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "6 August 2024" %}
{% set reviewed = "6 August 2024" %}
{% set updated = "6 August 2024" %}
{% set githubIssueID = "70" %}
{% set need = "This page exists to help people understand how to use tools to test for, and understand accesisbility issues in a product." %}

{% block content %}

   <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
         <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
         </li>
         <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/knowledge-hub">Knowledge hub</a>
         </li>
         <li class="govuk-breadcrumbs__list-item">
            {{pageName}}
         </li>
      </ol>
   </div>

   <h1 class="govuk-heading-xl  govuk-!-margin-top-5">{{pageName}}</h1>

   <p>Bookmarklets are added to your browser bookmarks (sometimes called the favourites bar). They are small pieces of JavaScript that can be run on a webpage to perform a specific task. </p>

   <p>You need to understand what the outcome of the test should be to understand if the webpage or component that's being tested passes or fails. </p>

   <p>An example of this is the <a href="/tools-testing/bookmarklets/target-size">Target size</a> bookmarklet, this relies on a person being sighted and an understanding of the <a href="https://www.w3.org/WAI/WCAG22/Understanding/target-size-minimum" rel="noopener noreferrer" target="_blank">success criterion for target size <span class="govuk-visually-hidden">(link opens in new tab)</span></a>. </p>

   <h2 class="govuk-heading-l">How to install bookmarklets</h2>

   <p>Bookmarklets can be added to your browser by dragging a link to them to the bookmarks bar, some require you to set them up manually.</p>
   <p>There are instructions for doing this on each bookmarklet guidance page. </p>

   <div class="govuk-inset-text">
      <p class="govuk-body">
       Create a folder in your favourites bar to keep all your accessibility bookmarklets in one place so they are easy to find.</p>
   </div>

   <h2 class="govuk-heading-l">Bookmarklets and what they do</h2>

   <p>There are a number of bookmarklets that can be used to test for potential accessibility issues on a webpage.</p>

   <table class="govuk-table">
      <thead class="govuk-table__head">
         <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Bookmarklet</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Criteria</th>
         </tr>
      </thead>
      <tbody class="govuk-table__body">
         <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-table__header">
               <a href="/tools-testing/bookmarklets/target-size">Target size</a>
            </th>
            <td class="govuk-table__cell">
               <p>Checks that the target size of interactive elements is at least 24px by 24px</p>
            </td>
            <td class="govuk-table__cell">
               <p>WCAG 2.5.8 Target Size (Minimum) (Level AA)</p>
            </td>
         </tr>
         <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-table__header">
               <a href="/tools-testing/bookmarklets/text-spacing">Text spacing</a>
            </th>
            <td class="govuk-table__cell">
               <p>Resizes text to check can be made larger without losing any functionality</p>
            </td>
            <td class="govuk-table__cell">
               <p>WCAG 1.4.4 Resize Text (Level AA)</p>
            </td>
         </tr>
         <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-table__header">
               <a href="/tools-testing/bookmarklets/lists">Lists</a>
            </th>
            <td class="govuk-table__cell">
               <p>Identifies lists on a page which allows you to check if the correct type is being used</p>
            </td>
            <td class="govuk-table__cell">
               <p>WCAG 1.3.1 Info and Relationships (Level A)</p>
            </td>
         </tr>
         <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-table__header">
               <a href="/tools-testing/bookmarklets/blur">Blur</a>
            </th>
            <td class="govuk-table__cell">
               <p>Simulates blurred vision when interacting with a webpage</p>
            </td>
            <td class="govuk-table__cell">
               <p>Various relating to contrast minimum, resize text, images of text and text spacing</p>
            </td>
         </tr>
      </tbody>
   </table>

{% endblock %}