{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Lists" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "6 August 2024" %}
{% set reviewed = "6 August 2024" %}
{% set updated = "6 August 2024" %}
{% set githubIssueID = "70" %}
{% set need = "This page exists to help people understand how to use tools to test for, and understand accessibility issues in a product." %}
{% set aka = "" %}
{% block content %}


   <h1 class="govuk-heading-xl">{{pageName}}</h1>

   <div class="govuk-inset-text">
      <p>Drag the following link to your bookmark bar to install the bookmarklet.</p>
      <a href="javascript:if(window.a11yLists)window.a11yLists.run();else{(function(){var link=document.createElement('link');link.rel='stylesheet';link.type='text/css';link.href='https://accessibility-bookmarklets.org/build/styles.css';document.getElementsByTagName('head')[0].appendChild(link);var script=document.createElement('script');script.type='text/javascript';script.src='https://accessibility-bookmarklets.org/build/lists.js';document.getElementsByTagName('head')[0].appendChild(script);})();}">View lists</a>
   </div>

   <p>Once the bookmarklet is installed, visit a webpage and click the bookmarklet in your bookmark bar.</p>

   <p>When you have run the check, the following list types will be highlighted with a border, and the type of list.</p>

   <p>Types of lists:</p>

   <ul class="govuk-list govuk-list--bullet">
      <li>
         <code>&lt;ol&gt;</code> ordered list</li>
      <li>
         <code>&lt;ul&gt;</code> unordered list</li>
      <li>
         <code>&lt;dl&gt;</code> definition list</li>
   </ul>

   <h2 class="govuk-heading-l">Example of using the bookmarklet</h2>

   <p>Below is an example of the bookmarklet being used on a page in the <a href="https://design.education.gov.uk/">DfE Design manual</a>.</p>

   <img src="/assets/images/lists.png" alt="The tools page in the DfE Design manual showing the highlighted lists with a border and an indicator of the list type." class="screenshot govuk-!-margin-top-5 govuk-!-margin-bottom-5">
   <p>
      <a href="/assets/images/lists.png" target="_blank">View larger image in a new tab</a>
   </p>

   <h2 class="govuk-heading-l">More information</h2>

   <p>This bookmarklet was created by the <a href="/support">DesignOps team</a> in DfE.</p>

{% endblock %}