{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set selectedSubNav = "WCAG" %}
{% set pageName = "WCAG criteria" %}
{% set pageDescription = "Understanding each of the Web Content Accessibility Guidelines (WCAG) criteria." %}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "18 July 2024" %}
{% set reviewed = "18 July 2024" %}
{% set updated = "18 July 2024" %}
{% set githubIssueID = "" %}
{% set need = "This page exists to help people understand each of the WCAG Criteria" %}
{% set aka = "wcag,wgac,wacg,w3c,criteria,criterion" %}

{% block content %}

<h1 class="govuk-heading-xl">{{ pageName }}</h1>

<p>Guidance for understanding each of the Web Content Accessibility Guidelines (WCAG) criteria.</p>


{% for principle, criteria_list in wcag %}

<h2 class="govuk-heading-l">{{ principle }}</h2>

{% if principle == 'Perceivable' %}
      <p>Information and user interface components must be presentable to users in ways they can perceive.</p>
   {% elif principle == 'Operable' %}
      <p>User interface components and navigation must be operable.</p>
   {% elif principle == 'Understandable' %}
      <p>Information and the operation of user interface must be understandable.</p>
   {% elif principle == 'Robust' %}
      <p>Content must be robust enough that it can be interpreted reliably by a wide variety of user agents, including assistive technologies.</p>
{% endif %}

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Success Criteria</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Level</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for criteria in criteria_list %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                        <a href="/wcag/{{ criteria.reference }}">{{ criteria.criteria }}</a>
                    </th>
                    <td class="govuk-table__cell">
                        {% if criteria.level == 'A' %}
                            <strong class="govuk-tag govuk-tag--blue">{{ criteria.level }}</strong>
                        {% elif criteria.level == 'AA' %}
                            <strong class="govuk-tag govuk-tag--light-blue">{{ criteria.level }}</strong>
                        {% elif criteria.level == 'AAA' %}
                            <strong class="govuk-tag govuk-tag--yellow">{{ criteria.level }}</strong>
                        {% endif %}
                    </td>
                   
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% endblock %}
