{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "Accessibility and inclusion" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}

{% block newNav%}

<nav class="navbar" aria-label="Secondary navigation">
    <ul class="nav-list">
        <li>
            <a href="/training" class="nav-link">Training
            </a>
        </li>
        <li>
            <button type="button" aria-expanded="true" aria-controls="sub-nav-howmany" class="nav-link-toggle">
               Accessibility and inclusion<span class="icon"></span>
            </button>
            <ul id="sub-nav-howmany" class="sub-nav" style="display: block;">
                <li>
                    <a href="/training/accessibility-inclusion-b">Accessibility and inclusion</a>
                </li>
                <li>
                    <a href="/training/accessibility-inclusion-b/types">Permanent, temporary, and situational impairments</a>
                </li>
                <li>
                    <a href="/training/accessibility-inclusion-b/why">It's the law</a>
                </li>
                <li>
                    <a href="/training/accessibility-inclusion-b/ethical">It's ethical</a>
                </li>

                <li>
                    <a href="/training/accessibility-inclusion-b/more">... more</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
{% endblock%}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/training">Training</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {{pageName}}
            </li>
        </ol>
    </div>
</div>

<span class="govuk-caption-l  govuk-!-margin-top-5">Accessibility and inclusion</span>
<h1 class="govuk-heading-xl">Why accessibility is important</h1>


<p>There are 3 main reasons to ensure our products and websites are accessible</p>



<h3 class="govuk-heading-l">It's ethical</h3>
<p>Accessibility is a about fairness and equity. Providing accessible access to services, products,
    and information
    demonstrates a commitment to inclusivity and respect for all individuals, regardless of their
    abilities or capabilities.</p>
<p>We should ensure that when we're designing products and services, we include people in the design
    stage with a diverse background to inform that process.</p>
<p>We should also test with as many people as possible from a range of backgrounds, technical
    ability and skills, and with people with and without disabilities or who use assistive or
    adaptive technologies. You can learn more about what these and a how to do this in the <a href="">knowledge hub</a>.
</p>
</p>




{% endblock %}