{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "Accessibility and inclusion" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}

{% block newNav%}

<nav class="navbar" aria-label="Secondary navigation">
    <ul class="nav-list">
        <li>
            <a href="/training" class="nav-link">Training
            </a>
        </li>
        <li>
            <button type="button" aria-expanded="true" aria-controls="sub-nav-howmany" class="nav-link-toggle">
               Accessibility and inclusion<span class="icon"></span>
            </button>
            <ul id="sub-nav-howmany" class="sub-nav" style="display: block;">
                <li>
                    <a href="/training/accessibility-inclusion-b">Accessibility and inclusion</a>
                </li>
                <li>
                    <a href="/training/accessibility-inclusion-b/types">Permanent, temporary, and situational impairments</a>
                </li>
                <li>
                    <a href="/training/accessibility-inclusion-b/why">It's the law</a>
                </li>
                <li>
                    <a href="/training/accessibility-inclusion-b/ethical">It's ethical</a>
                </li>

             
                <li>
                    <a href="/training/accessibility-inclusion-b/more">... more</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
{% endblock%}


{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/training">Training</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {{pageName}}
            </li>
        </ol>
    </div>
</div>

<span class="govuk-caption-l  govuk-!-margin-top-5">Accessibility and inclusion</span>
<h1 class="govuk-heading-xl">Permanent, temporary, and situational impairments</h1>
<p>Not all disabilities or impairments are permanent. Some can be as a result of injury or just the environment the
    person is in at that time.</p>



<h3 class="govuk-heading-m">Permanent</h3>
<p>Permanent disabilities are long-term conditions that affect people throughout their lives.</p>
<p>Examples include blindness, deafness, or mobility impairments.</p>

<h3 class="govuk-heading-m">Temporary</h3>
<p>Temporary disabilities are short-term conditions that affect us for a limited period.</p>
<p>These can include things like a broken arm or an eye infection which might mean adapting to how
    someone interacts with us, our services, products or websites.</p>

<h3 class="govuk-heading-m">Situational</h3>
<p>Situational disabilities occur due to specific circumstances or environments.</p>
<p>For example, a person in a noisy environment may temporarily experience difficulties similar to
    those who are hard of hearing.</p>

<p>There is guidance in the <a href="">interaction design</a> and <a href="">content design</a> sections of the <a
        href="">knowledge hub</a>, about considerations when designing user interfaces and content.</p>




{% endblock %}