{% extends "layouts/full.html" %}

{% set selectedNav = "Knowledge base" %}
{% set pageName = "Knowledge base" %}
{% set pageDescription = "All guidance and knowledge to support understanding accessibility and inclusive design."%}

{% set mainClasses = "govuk-!-padding-top-0" %}

{% block hero %}
<section class="dfe-page-hero govuk-!-padding-bottom-9" style="background: #003a69;">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{pageName}}</h1>
            <p class="govuk-body-l">{{pageDescription}}</p>
         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block content %}



<div class="govuk-width-container govuk-!-margin-top-9">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

         <h2 class="govuk-heading-l">Basics</h2>
         <p>Understand the basics of accessibility and inclusive design.</p>

         <ul class="govuk-list govuk-list--spaced">
            <li>
               <a href="">What accessibility and inclusive design is</a>
            </li>
            <li>
               <a href="">Why accessibility is important</a>
            </li>
            <li>
               <a href="">The laws concerning accessibility</a>
            </li>
            <li>
               <a href="">Web Content Accessibility Guidelines (WCAG)</a>
            </li>
         </ul>

         <h2 class="govuk-heading-l">Browsers and assisitve technology</h2>
         <p>Understand how you can ensure your code and design supports browsers and assisitve technologies.</p>


         <ul class="govuk-list govuk-list--spaced">
            <li>
               <a href="">How assisitve technology works</a>
            </li>
            <li>
               <a href="">Markup and HTML</a>
            </li>
            <li>
               <a href="">Accessible names, labels and descriptions</a>
            </li>
            <li>
               <a href="">Roles, states and properties</a>
            </li>
         </ul>



      </div>
      <div class="govuk-grid-column-one-third">

      </div>
   </div>


</div>




{% endblock %}