{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Audits and statements" %}
{% set pageName = "Why you need an audit" %}
{% set pageDescription = "What an accessibility audit is, why you need one and the outcome for your team."%}
{% set created = "6 August 2024" %}
{% set reviewed = "6 August 2024" %}
{% set updated = "6 August 2024" %}
{% set githubIssueID = "34" %}
{% set need = "This page exists to help people understand the need, and how to get an accessibility audit, and what to do with the results." %}
{% set aka = "" %}
{% block sidenav %}
    {% include "layouts/_newnav.html" %}
{% endblock %}

{% block content %}


    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <p>An accessibility audit is a comprehensive set of tests run by an independent team of accessibility specialists. They could be external auditors or within DfE.</p>
    <p>The audit will check to make sure your service or website meets the WCAG 2.2 Level AA accessibility standard and how well it performs with <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies" rel="noreferrer noopener">assistive technologies</a>.</p>


    <div class="govuk-inset-text">
     <p>DesignOps can help you understand what type of audit you need. Complete the <a class="govuk-link" href="https://forms.office.com/e/P4bedSKaGU" target="_blank">audit requirements form (MS Form - Internal only)</a> and the team will contact you to discuss your audit needs.</p>
     </div>

     <p>DesignOps will also help you in ensuring you have all the information auditors need to complete an accessibility audit.</p>

    <h2 class="govuk-heading-l">How an audit helps</h2>

    <p>An audit helps identify accessibility issues across your service.</p>
    
    <p>It will give you an understanding of the types of barriers users may face, and will provide remediation techniques to help you resolve any issues.</p>
    <p>You can also use the outputs of the audit to help to create your accessibility statement.</p>
    <p>The audit report will detail:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>where your service is failing to provide a good user experience, especially for those with disabilities</li>
        <li>why you've not met the criteria and how to resolve issues</li>
    </ul>
    <p>Use the information from the report in your accessibility statement.</p>
    <p>It will provide users with an understanding of where they could face accessibility barriers. They can then make a choice to use your service or think about workarounds.</p>

  
    
{% endblock %}