{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Standards" %}
{% set pageName = "Non-text content" %}
{% set pageDescription = ""%}

{% set created = "15 July 2024" %}
{% set reviewed = "15 July 2024" %}
{% set updated = "15 July 2024" %}
{% set githubIssueID = "" %}
{% set need = "" %}

{% block content %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/standards">Standards</a>
        </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/standards/wcag">WCAG</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            {{pageName}}
        </li>
    </ol>
</div>

<span class="govuk-caption-l  govuk-!-margin-top-5">WCAG 1.1.1</span>
<h1 class="govuk-heading-xl">{{pageName}}</h1>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Principle</th>
      <th scope="col" class="govuk-table__header">Conformance</th>
      <th scope="col" class="govuk-table__header">Category</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Perceivable</td>
      <td class="govuk-table__cell"><strong class="govuk-tag">Level A</strong></td>
      <td class="govuk-table__cell">Code and labels</td>
    </tr>
  </tbody>
</table>

<p>All non-text content like images, charts, icons and infographics, must have an appropriate text equivalent. This ensures that information conveyed by non-text content is available to people who cannot see it, like screen reader users.</p>



{% endblock %}