{% extends "layouts/content-with-sidenav-left.html" %}

{% set selectedNav = "Responsibilities" %}
{% set pageName = "Responsibilities" %}
{% set pageDescription = "Understand what the different responsibilitiies are for each role in the agile delivery
lifecycle."%}
{% set setSelectedSideNav = "Overview" %}


{% block hero %}
<section class="dfe-page-header ">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-5">{{pageName}}</h1>

         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block sideContent %}



{% endblock %}

{% block content %}



<p>Summary of roles and responsibilites here.</p>




{% endblock %}