{% extends "layouts/page_layout.html" %}
{% set selectedNav = "Profession guidance" %}
{% set pageName = "Interaction design" %}
{% set pageDescription = "Guidance for interaction designers."%}
{% set sideNav = "index" %}
{% set githubIssueID = "45" %}
{% set created = "25 November 2024" %}
{% set reviewed = "25 November 2024" %}
{% set updated = "25 November 2024" %}
{% set need = "This page exists to provide an overview of the role of interaction design and accessibility and inclusive design." %}


{% block content %}

<h1 class="govuk-heading-xl">{{pageName}}</h1>
    <p class="govuk-body">
   Interaction designers play a crucial role in ensuring that digital products and websites are accessible, inclusive, and easy to use. They focus on how people interact with digital interfaces, ensuring that designs work for everyone, including users with diverse needs.
</p>
    <p class="govuk-body">
        <a class="govuk-link" href="https://ddat-capability-framework.service.gov.uk/role/interaction-designer">
   Find out more about the role of interaction designers
   </a>.
</p>
    <h2 class="govuk-heading-m">Main concepts</h2>
    <p class="govuk-body">
   The following concepts are important for interaction designers to be aware of.
</p>
    <h3 class="govuk-heading-s">Accessibility</h3>
    <p class="govuk-body">
   Accessibility means ensuring digital products and services can be used by people with a wide range of needs, including those with visual, hearing, cognitive, or physical impairments.
</p>
    <h3 class="govuk-heading-s">Inclusive design</h3>
    <p class="govuk-body">
   Inclusive design involves creating products and services that work well for as many people as possible, considering different abilities, ages, and backgrounds.
</p>
    <p class="govuk-body">
   It goes beyond accessibility by addressing a broader range of user needs.
</p>
    <h3 class="govuk-heading-s">Usability</h3>
    <p class="govuk-body">
   Usability measures how clear, simple, and efficient a product or service is to use.</p> 
   <p class="govuk-body"> It complements accessibility by ensuring everyone has a positive experience, regardless of their abilities or circumstances.
</p>
{% endblock %}