{% extends "layouts/full.html" %}

{% set selectedNav = "Home" %}
{% set pageName = "The DfE accessibility and inclusion project" %}
{% set pageDescription = "Find out about the work we're doing to raise the standard of accessibility and inclusion in
our products and services."%}
{% set aka = "" %}
{% set mainClasses = "govuk-!-padding-top-0" %}

{% block hero %}
   <section class="dfe-page-hero">
      <div class="govuk-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl">{{pageName}}</h1>

            </div>
         </div>
      </div>
   </section>
{% endblock %}
{% block content %}
   <div class="govuk-width-container govuk-!-margin-top-9">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">We're raising the standard of accessibility in our services</h2>
            <p>
               <a
               href="https://commonslibrary.parliament.uk/research-briefings/cbp-9602/#:~:text=The%20latest%20estimates%20from%20the,24%25%20of%20the%20total%20population.">1
               in 5 people in the UK have some form of disability</a>. We want to create a culture where accessibility
            isn't an optional step, where it's not an afterthought, or a tick-box exercise at the end of a
            project.</p>
            <p>We want to see accessible practices and inclusive design principles, embedded into all phases of the service
            delivery lifecycle.</p>
         </div>
         <div class="govuk-grid-column-one-third"></div>
      </div>
   </div>
   <section class="govuk-!-margin-top-9">
      <div class="govuk-width-container">
         <h2 class="govuk-heading-l">Our 4 priorities</h2>
         <div class="dfe-manual-wide-card">
            <h3 class="govuk-heading-m">1. Work with people and professions</h3>
         </div>
         <div class="dfe-manual-wide-card">
            <h3 class="govuk-heading-m">2. Develop skills, knowledge and awareness</h3>
         </div>
         <div class="dfe-manual-wide-card">
            <h3 class="govuk-heading-m">3. Improve accessibility and inclusive design culture across DfE</h3>
         </div>
         <div class="dfe-manual-wide-card">
            <h3 class="govuk-heading-m">4. Create a sustainable and scalable approach to compliance and assurance</h3>
         </div>
      </div>
   </section>
{% endblock %}