{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Project" %}
{% set pageName = "Our 4 priorities" %}
{% set pageDescription = ""%}

{% set sideNav = "priorities" %}

{% block sidenav %}

<nav class="navbar">

  <nav aria-label="Main Navigation">
    <ul class="nav-list">
      <li>
        <a href="/project" class="nav-link">
          Project overview
        </a>
      </li>
      <li>
        <a href="#" aria-expanded="false" aria-controls="sub-nav-1" class="nav-link-toggle">
          Vision <span class="icon"></span>
        </a>
        <ul id="sub-nav-1" class="sub-nav">
          <li><a href="#" class="{% if sideNav == 'page' %} sub-nav--active {% endif %}">Vision</a></li>
          <li><a href="#">Goals</a></li>
        </ul>
      </li>
      <li>
        <a href="#" aria-expanded="false" aria-controls="sub-nav-2" class="nav-link-toggle">
          Priorities<span class="icon"></span>
        </a>
        <ul id="sub-nav-2" class="sub-nav">
          <li><a href="/project/priorities"
              class="{% if sideNav == 'priorities' %} sub-nav--active {% endif %}">Overview</a></li>
          <li><a href="/project/priorities/1" class="{% if sideNav == 'priority1' %} sub-nav--active {% endif %}">Work
              with people and professions</a></li>
          <li><a href="#">Devlop skills, knowledge, and awareness</a></li>
          <li><a href="#">Improve accessibility and inclusive design culture across DfE</a></li>
          <li><a href="#">Create a sustainable and scalable approach to compliance and assurance</a></li>
        </ul>
      </li>

    </ul>
  </nav>


</nav>


{% endblock %}


{% block content %}


<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/project">Project</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Our 4 priorities
    </li>
  </ol>
</div>

<h1 class="govuk-heading-xl govuk-!-margin-top-9">{{pageName}}</h1>


{# write some generic content about the 4 pritorites #}

<h2 class="govuk-heading-m">Work with People and Professions</h2>
<p class="govuk-body">Our approach to accessibility and inclusive design starts with collaboration. We actively engage
  with diverse groups, including people with disabilities, and work closely with various professions to understand their
  needs and challenges. This collaborative effort ensures that our solutions are not only compliant but also genuinely
  inclusive, providing equitable access to everyone who interacts with our services.</p>

<h2 class="govuk-heading-m">Develop Skills, Knowledge, and Awareness</h2>
<p class="govuk-body">We are committed to continuous learning and development in the field of accessibility and
  inclusive design. By providing training, resources, and opportunities for professional growth, we aim to equip our
  teams with the necessary skills and knowledge. Increasing awareness about the importance of accessibility helps us
  create more inclusive digital experiences and fosters a culture of inclusivity within the Department for Education.
</p>

<h2 class="govuk-heading-m">Improve Accessibility and Inclusive Design Culture Across DfE</h2>
<p class="govuk-body">Building an inclusive design culture is a priority for the Department for Education. We strive to
  embed accessibility principles into every aspect of our work, from initial planning to final delivery. By promoting
  best practices and encouraging an inclusive mindset, we aim to ensure that accessibility is a fundamental
  consideration in all our projects, thereby enhancing the user experience for all individuals.</p>

<h2 class="govuk-heading-m">Create a Sustainable and Scalable Approach to Compliance and Assurance</h2>
<p class="govuk-body">Our goal is to establish a sustainable and scalable framework for compliance and assurance in
  accessibility and inclusive design. This involves developing robust processes, leveraging innovative technologies, and
  ensuring ongoing monitoring and evaluation. By doing so, we can maintain high standards of accessibility and
  inclusivity, ensuring that our services remain compliant with regulations and are accessible to all users, now and in
  the future.</p>



{% endblock %}