{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "HeadingsMap" %}
{% set pageDescription = "Guidance for installing and using HeadingsMap to test for accessibility issues."%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "1 August 2024" %}
{% set reviewed = "1 August 2024" %}
{% set updated = "1 August 2024" %}
{% set githubIssueID = "36" %}
{% set need = "This page exists to help people understand how to use tools to test for, and understand accessibility issues in a product." %}
{% set aka = "" %}
{% block content %}


   <h1 class="govuk-heading-xl">{{pageName}}</h1>

   <h2 class="govuk-heading-l">Installation</h2>

   <p class="govuk-body">{{pageName}} is a browser extension.</p> 
   
   <p class="govuk-body">Use the following links to install {{pageName}} for your browser:</p>

   <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-list__item">
         <a href="https://chromewebstore.google.com/detail/headingsmap/flbjommegcjonpdmenkdiocclhjacmbi" target="_blank">{{pageName}} for Chrome and Edge</a>
      </li>
      <li class="govuk-list__item">
         <a href="https://addons.mozilla.org/en-GB/firefox/addon/headingsmap/" target="_blank">{{pageName}} for Firefox</a>
      </li>
   </ul>

   <p>{{pageName}} is not available for Safari.</p>

   <h2 class="govuk-heading-l">How to use</h2>

   <p>Once installed, HeadingsMap can be accessed from your extensions bar. It appears as a letter h with a forward slash. </p>

   <p>Once selected, it will then appear and show the heading hierarchy of your webpage.</p>

   <h2 class="govuk-heading-l">What results could look like</h2>

   <p>HeadingsMap will show the heading structure of the page, with the hierarchy of headings displayed. This will help you to understand the structure of the page and identify any issues with the heading structure.</p>

   <img src="/assets/images/headings-map.png" alt="Screenshot showing HeadingMap tool showing the list of headings on Get into teaching, with heading structure listed." class="screenshot govuk-!-margin-top-5 govuk-!-margin-bottom-5">

   <p>
      <a href="/assets/images/headings-map.png" target="_blank">View larger image in a new tab</a>
   </p>

{%include 'partials/_tools_next.html'%}

{% endblock %}