{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "HeadingsMap" %}
{% set pageDescription = "Guidance for installing and using HeadingsMap to test for accessibility issues."%}
{% set mainClasses = "govuk-!-padding-top-0" %}
{% set created = "1 August 2024" %}
{% set reviewed = "1 August 2024" %}
{% set updated = "1 August 2024" %}
{% set githubIssueID = "36" %}
{% set need = "This page exists to help people understand how to use tools to test for, and understand accesisbility issues in a product." %}

{% block content %}

   <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
         <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
         </li>
         <li class="govuk-breadcrumbs__list-item">
             <a class="govuk-breadcrumbs__link" href="/knowledge-hub">Knowledge hub</a>
         </li>
         <li class="govuk-breadcrumbs__list-item">
            {{pageName}}
         </li>
      </ol>
   </div>

   <h1 class="govuk-heading-xl  govuk-!-margin-top-5">{{pageName}}</h1>

   <h2 class="govuk-heading-l">Installation</h2>

   <p class="govuk-body">{{pageName}} is a browser extention. Use the following links to install {{pageName}} for your browser.</p>

   <ul class="govuk-list govuk-list--spaced">
      <li class="govuk-list__item">
         <a href="https://chromewebstore.google.com/detail/headingsmap/flbjommegcjonpdmenkdiocclhjacmbi" target="_blank">{{pageName}} for Chrome and Edge</a>
      </li>
      <li class="govuk-list__item">
         <a href="https://addons.mozilla.org/en-GB/firefox/addon/headingsmap/" target="_blank">{{pageName}} for Firefox</a>
      </li>
   </ul>

   <p>{{pageName}} is not available for Safari.</p>

   <h2 class="govuk-heading-l">How to use {{pageName}}</h2>

   <p>Once installed, HeadingsMap can be accessed from your extensions bar. It appears as a letter h with a forward slash. </p>

   <p>Once selected, it will then appear and show the heading hierarchy of your webpage.</p>

   <h2 class="govuk-heading-l">Results</h2>

   <img src="/assets/images/headings-map.png" alt="Screenshot showing HeadingMap tool showing the list of headings on Get into teaching, with heading structure listed." class="screenshot govuk-!-margin-top-5 govuk-!-margin-bottom-5">

   <p>
      <a href="/assets/images/headings-map.png" target="_blank">View larger image in a new tab</a>
   </p>

   <p>HeadingsMap will show the heading structure of the page, with the hierarchy of headings displayed. This will help you to understand the structure of the page and identify any issues with the heading structure.</p>

   <h2 class="govuk-heading-l">What to do next</h2>

   <p>The team should review the heading structure to make sure they are correct.</p>
   <p>It’s best practice to only have one heading level 1 (H1), which should be unique, and be contained in the <code>title</code> for the browser. The structure should then follow a hierarchical structure.</p>

{% endblock %}