{% extends "layouts/full.html" %}

{% set selectedNav = "Knowledge hub" %}
{% set pageName = "Knowledge hub" %}
{% set pageDescription = "All guidance and knowledge to support understanding accessibility and inclusive design."%}

{% set mainClasses = "govuk-!-padding-top-0" %}



{% block content %}



<div class="govuk-width-container govuk-!-margin-top-9">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

         <h2 class="govuk-heading-l">Introduction to accessibility and inclusive design</h2>
         <p>Understand the fundamental principles and importance of accessibility in design.</p>

         <ul class="govuk-list govuk-list--spaced">
            <li>
               <a href="">What accessibility and inclusive design is</a>
            </li>
            <li>
               <a href="">Why inclusive design matters</a>
            </li>
            <li>
               <a href="">Benefits of accessibility</a>
            </li>
         </ul>

         <h2 class="govuk-heading-l">Laws and regulatory frameworks</h2>
         <p>Learn about the legal requirements and standards governing accessibility and inclusive design.</p>

         <ul class="govuk-list govuk-list--spaced">
            <li>
               <a href="/knowledge-hub/regulations">Overview of the regulations</a>
            </li>
            <li>
               <a href="">Compliance and enforcement</a>
            </li>
         </ul>

         <h2 class="govuk-heading-l">WCAG (Web Content Accessibility Guidelines)</h2>
         <p>Learn about the legal requirements and standards governing accessibility and inclusive design.</p>

         <ul class="govuk-list govuk-list--spaced">
            <li>
               <a href="">Overview of WCAG 2.2</a>
            </li>
            <li>
               <a href="">Understanding success criteria</a>
            </li>
            <li>
               <a href="">Understanding conformance</a>
            </li>
         </ul>



         <h2 class="govuk-heading-l">Supporting browsers and assisitve technologies</h2>
         <p>Guidance on designing for compatibility with various browsers and assistive technologies.</p>


         <ul class="govuk-list govuk-list--spaced">
            <li>
               <a href="">How assisitve technologies works</a>
            </li>
            <li>
               <a href="">Designing accessible user interfaces</a>
            </li>
            <li>
               <a href="">Coding techniques for accessibility</a>
            </li>
         </ul>


         <h2 class="govuk-heading-l">Training and learning</h2>
         <p>Mandatory training and self-guided learning modules to allow you to learn about accessibility at your own
            pace.</p>


         <ul class="govuk-list govuk-list--spaced">
            <li>
               <a href="">Mandatory basic training for all staff</a>
            </li>
            <li>
               <a href="">Profession-specific mandatory learning</a>
            </li>
            <li>
               <a href="">yCoding techniques for accessibilit</a>
            </li>
         </ul>


      </div>
      <div class="govuk-grid-column-one-third">
         <h2 class="govuk-heading-l">Related stuff</h2>
         <ul class="govuk-list govuk-list--spaced">
            <li>
               <a href="https://accessibility.blog.gov.uk/">GOV.UK Accessibility blog</a>
            </li>

         </ul>
      </div>
   </div>


</div>




{% endblock %}