{% extends "layouts/full.html" %}

{% set selectedNav = "Standards" %}
{% set pageName = "How to meet the accessibility statement standard" %}
{% set pageDescription = ""%}
{% set setSelectedSideNav = "Overview" %}


{% block hero %}
<div class="dfe-page-header dfe-page-header--with-sub-nav">
    <div class="govuk-width-container dfe-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-l govuk-!-padding-top-5 ">DDTS-1</span>
                <h1 class="govuk-heading-xl  govuk-!-margin-bottom-3">{{pageName}}</h1>

                <p class="govuk-body-l govuk-!-margin-bottom-5">{{pageDescription}}</p>
            </div>
            <div class="govuk-grid-column-full">


                <nav class="app-sub-navigation" aria-label="Application menu">
                    <ul class="app-sub-navigation__list">
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" href="/standards/ddts-1">Standard</a>
                        </li>
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" aria-current="page"
                                href="/standards/ddts-1/how-to-meet">Meet the
                                standard</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">


        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    You are at risk of breaking the law if you fail to meet this standard.
                </strong>
            </div>

            <h2 class="govuk-heading-l">Meeting this standard</h2>
            <p class="govuk-body">You must report compliance with this standard in the Service health check hub.</p>
            <p class="govuk-body">To meet this standard, you must do the following things.</p>
            
            <h3 class="govuk-heading-m">Publish a statement</h3>
            <p class="govuk-body">You must publish an accessibility statement in your product or service before it’s accessed by users.</p>
            <p class="govuk-body">The statement must be linked to from the footer of every page. Use a link with the text ‘Accessibility’ in accordance with published guidance.</p>
            <p class="govuk-body">You can use the templates in the accessibility manual to write your statement.</p>
            
            <h3 class="govuk-heading-m">Detail WCAG criterion failures</h3>
            <p class="govuk-body">The statement must include details of all known WCAG (Web Content Accessibility Guidelines) criterion failures. This would include any issues that were identified during accessibility audits, as well as issues raised by users of the service from direct feedback.</p>
            <p class="govuk-body">This transparency is crucial for users with disabilities to be aware of any potential accessibility barriers they might experience in your service.</p>
            <p class="govuk-body">When you’re planning how to report and manage accessibility issues in your service, you can use the issues standard. This will help teams to address and resolve accessibility challenges in a systematic way.</p>
            
            <h3 class="govuk-heading-m">Mitigation and resolution actions</h3>
            <p class="govuk-body">You must state clearly what actions you’re taking to mitigate or resolve any accessibility issues. Include any expected timelines for resolution. This provides users with assurance that their concerns are being actively addressed and that improvements are being made to enhance their user experience.</p>
            
            <h3 class="govuk-heading-m">Update your statement regularly</h3>
            <p class="govuk-body">The statement must be updated within 2 months following an audit or additional accessibility testing. A regular update means that information is always current, reflects the most recent findings and actions taken to improve accessibility.</p>
            
            <h3 class="govuk-heading-m">Complete annual accessibility review</h3>
            <p class="govuk-body">The accessibility statement should be reviewed and updated at least every 12 months. Even if no interim testing or audits happen. This regular review process shows ongoing compliance with accessibility standards. It also demonstrates a commitment to maintaining an accessible digital product for all users.</p>
      


        </div>

    </div>
</div>

{% endblock %}