{% extends "layouts/full-nohero.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "Inclusive design" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}

{% block hero %}

    <div class="govuk-width-container">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/training">Training</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    {{pageName}}
                </li>
            </ol>
        </div>
    </div>

{% endblock %}

{% block content %}

    <style>
        .grey-text {
            color: #585858;
        }
    </style>

    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl govuk-!-font-size-48">{{pageName}}</h1>

                        <p class="govuk-body-l">Inclusive design is an approach that aims to create products and services
                        that are usable by as many people as possible, regardless of their
                        diverse abilities, backgrounds, and circumstances.</p>

                        <p class="govuk-body-l">With a focus on recognising and addressing potential exclusions,
                        learning from the diverse needs and perspectives of users, and developing solutions that benefit a wide range
                        of individuals.</p>

                        <p class="govuk-body-l">Inclusive design is covered by 3 areas:</p>

                        <ul class="govuk-list govuk-list--bullet govuk-body-l">
                            <li>Recognise exclusion</li>
                            <li>Learn from diversity</li>
                            <li>Solve for one, extend to many</li>
                        </ul>

                        <p class="govuk-body-l">Lets explore these with some examples.</p>

                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <p class="govuk-!-margin-top-6">
                    <a href="/training/accessibility-inclusion/for-all"
                    class="dfe-manual-button dfe-manual-button--grey govuk-!-margin-right-2"
                    role="button">Previous</a>
                    <a href="/training/accessibility-inclusion/exclusion"
                    class="dfe-manual-button" role="button">Next</a>
                </p>
            </div>
        </div>
        <div class="govuk-grid-column-one-third"></div>
    </div>

{% endblock %}