{% extends "layouts/full-nohero.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "Accessibility and inclusion" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}

{% block hero %}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/training">Training</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {{pageName}}
            </li>
        </ol>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">What is accessibility?</h1>
        </div>
    </div>

    <div class="govuk-grid-row ">
        <div class="govuk-grid-column-full">

            <p>Accessibility refers to the design and creation of websites, tools, and technologies so that people with
                disabilities can use them.</p>

            <h2 class="govuk-heading-l">Around 1 in 5 people in the UK have a disability</h2>
            <p>People with disabilities can have a range of impairments.</p>

            <div class="govuk-grid-row govuk-!-margin-top-9 govuk-!-margin-bottom-9">
                <div class="govuk-grid-column-one-quarter">
                    <h3 class="govuk-heading-m">Visual impairments</h3>
                    <p>Visual impairments include blindness, low vision, and colour blindness.</p>
                    <p>People may rely on screen readers, screen magnifiers, or need high-contrast text and designs that
                        do not rely solely on colour.</p>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <h3 class="govuk-heading-m">Hearing impairments</h3>
                    <p>Hearing impairments include deafness or being hard of hearing.</p>
                    <p>You'll need to providing text alternatives for audio content and ensure that videos with audit
                        contain closed captions or a text-alternative.</p>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <h3 class="govuk-heading-m">Motor impairments</h3>
                    <p>Motor impairments affect movement and coordination, requiring alternatives to a
                        mouse and keyboard.</p>
                    <p>Adaptive technologies like speech recognition, head or eye-tracking devices can help.</p>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <h3 class="govuk-heading-m">Cognitive impairments</h3>
                    <p>Cognitive impairments include learning disabilities and problems with memory and recall.</p>
                    <p>Clear, simple layouts, plain language, and tools like text-to-speech can make content more
                        accessible.</p>
                </div>
            </div>


            <p class="govuk-!-margin-top-5">Impairments aren't always permanent. They can also occur be temporary, as a result of an accident, or situational, based on an individuals surroundings or environment.</p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-!-margin-top-6"><a href="/training/accessibility-inclusion/types" class="dfe-manual-button"
                    role="button">Next</a></p>

        </div>
        <div class="govuk-grid-column-one-third">

        </div>
    </div>
</div>



{% endblock %}