{% extends "layouts/full-nohero.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "Introduction to the basics of accessibility and inclusive design" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}

{% block hero %}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/training">Training</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {{pageName}}
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{{pageName}}</h1>
                    <p class="govuk-body-l">This training takes about 10 minutes to complete and will cover the
                        essentials about accessibility and inclusive design.</p>
                    <p class="govuk-body-l">You'll learn about the importance of designing for accessibility, the
                        different types of impairments, and practical tips for creating inclusive digital experiences.
                    </p>
                    <p class="govuk-body-l">There are 5 questions at the end of the training to check your understanding and summarise what you've learnt.</p>
                </div>
                <div class="govuk-grid-column-one-third center-image">

                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-!-margin-top-6"><a href="/training/accessibility-inclusion/what" class="dfe-manual-button"
                    role="button">Next</a></p>
        </div>
    </div>



    {% endblock %}