{% extends "layouts/full-nohero.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "Accessibility is not a tick box" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}

{% block hero %}

    <div class="govuk-width-container">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/training">Training</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    {{pageName}}
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl govuk-!-font-size-48">{{pageName}}</h1>
                        <p class="govuk-body-l">This is not a one-time thing, it's not something you do to tick a box.</p>
                        <p class="govuk-body-l">You're disadvantaging people if you don't consider accessibility and inclusion from the start of whatever it is you're creating.</p>
                        <p class="govuk-body-l">Learn to use assisitve technology, play back videos without sound, turn on read-aloud and get your device to read your content out.</p>
                    </div>
                </div>

            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-!-margin-top-6">
            <a href="/training/accessibility-inclusion/page-18"
                    class="dfe-manual-button dfe-manual-button--grey govuk-!-margin-right-2"
                    role="button">Previous</a>
            <a href="/training/accessibility-inclusion/page-20"
                    class="dfe-manual-button" role="button">Next</a>
        </p>
    </p>
</div>

{% endblock %}