{% extends "layouts/full-nohero.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "Learn from diversity" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}

{% block hero %}

    <div class="govuk-width-container">
        <a href="/training/accessibility-inclusion/page-13" class="govuk-back-link">Back</a>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl govuk-!-font-size-48">{{pageName}}</h1>

                        <p class="govuk-body-l">You can reduce the chance of excluding people from being able to use a product or service, by including them in the design process.</p>

                        <p class="govuk-body-l">By putting people at the centre of the design process from the start, and
                        throughout, you can ensure you're desinging things that will work for more people.</p>
                        <p class="govuk-body-l">People with disabilities can often provide a unique perspective to a problem and by also
                        including people with a diverse background in this process, including age, cultures,
                        ability, and background.</p>

                        <div class="govuk-inset-text">
                            <p class="govuk-body-l">
                                <span class="govuk-!-font-weight-bold">For example</span><br /><br />Running co-design sessions with people with diverse perspectives will lead to more
                            innovative solutions that might not be
                            apparent with a less diverse team.</p>
                        </div>

                        <p class="govuk-body-l">Ensure that this diversity continues through testing and involve users in
                        the design and feedback process. This helps to maintain a product or website that works for more
                        people and is less likely to exclude people.</p>

                    </div>
                </div>

            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-!-margin-top-6">

            <a href="/training/accessibility-inclusion/page-15"
                    class="govuk-button" role="button">Next</a>
        </p>
    </p>
</div>

{% endblock %}