{% extends "layouts/full-nohero.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "What accessibility means" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}

{% block hero %}

    <div class="govuk-width-container">
        <a href="/training/accessibility-inclusion" class="govuk-back-link">Back</a>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl">{{pageName}}</h1>

                        <p class="govuk-body-l">Accessibility is about ensuring that people with disabilities can use our products, services, and documents without encountering barriers.</p>
                        <p class="govuk-body-l">This means making sure our websites, mobile apps, and digital content are usable by people with a variety of disabilities.</p>
                        <p class="govuk-body-l">This applies to everyone we provide services for. For example, members of the public, learners, school professionals, and our own staff.</p>

                    </div>
                    <div class="govuk-grid-column-one-third center-image"></div>
                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <p class="govuk-!-margin-top-6">

                    <a href="/training/accessibility-inclusion/page-2"
                    class="govuk-button" role="button">Next</a>
                </p>
            </p>
        </div>
    </div>

{% endblock %}