{% extends "layouts/full-nohero.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "1 in 5 people have a disability" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}

{% block hero %}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/training">Training</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {{pageName}}
            </li>
        </ol>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-font-size-48">{{pageName}}</h1>

                    <p>Anyone can experience different types of disabilities. Through awareness and understanding of
                        these and how they affect people, we can create a more inclusive environment for everyone. </p>

                    <p>Disabilities can fall into the following areas:</p>

                    <h2 class="govuk-heading-m">Vision</h2>
                    <p>This includes people who are blind, have low vision, or are colour blind.</p>

                    <h2 class="govuk-heading-m">Hearing</h2>
                    <p>This includes people who are deaf or hard of hearing.</p>

                    <h2 class="govuk-heading-m">Motor</h2>
                    <p>This includes people with mobility impairments, missing limbs, or limited dexterity.</p>

                    <h2 class="govuk-heading-m">Cognitive</h2>
                    <p>This includes people with learning disabilities, memory issues, or cognitive impairments.</p>

                    <p>We will explore these in more detail and help you understand how you can prevent exclusion of
                        people with each type of disability.</p>

                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-!-margin-top-6"><a href="/training/accessibility-inclusion"
                    class="dfe-manual-button dfe-manual-button--grey govuk-!-margin-right-2"
                    role="button">Previous</a><a href="/training/accessibility-inclusion/why" class="dfe-manual-button"
                    role="button">Next</a></p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>




{% endblock %}