{% extends "layouts/full-nohero.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "What accessibility is" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}

{% block hero %}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/training">Training</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {{pageName}}
            </li>
        </ol>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-font-size-48">{{pageName}}</h1>

                    <p class="govuk-body-l">Accessibility is about ensuring that everyone can use our digital services
                        to achieve the
                        outcomes they need.</p>

                    <p class="govuk-body-l">This includes making sure our websites, mobile apps, and digital content are
                        usable by people
                        with a variety of disabilities.</p>


                    <p class="govuk-body-l">We must prioritise the people we are designing for, placing them at the
                        centre of what it is we
                        are designing. </p>

                    <p class="govuk-body-l">This enables us to understand people's needs and how they might use our
                        products and websites,
                        enabling us to provide the best possible experience.</p>

                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <p class="govuk-!-margin-top-6"><a href="/training/accessibility-inclusion"
                    class="dfe-manual-button dfe-manual-button--grey govuk-!-margin-right-2"
                    role="button">Previous</a><a href="/training/accessibility-inclusion/types"
                    class="dfe-manual-button" role="button">Next</a></p>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>




{% endblock %}