{% extends "layouts/full-nohero.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "Accessibility and inclusion" %}
{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}

{% block hero %}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/training">Training</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {{pageName}}
            </li>
        </ol>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Why accessibility matters</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <p>There are a few reasons why accessibility is important:</p>


            <h2 class="govuk-heading-l">It's the law</h2>
            <p>As a public body we are required, by law, to ensure our products and websites meet accessibility
                guidelines.</p>
            <p>The primary law for websites and applications is called the Public Sector Bodies Websites and
                Applications Regulations 2018.
            <p>There are other laws that apply to us around accessibility, and you can read about these in the <a
                    href="/knowledge-hub">knowledge hub</a></p>
            </p>
            <p>There are 86 criteria that are detailed in the Web Content Accessibility Guidelines, often referred to as
                WCAG </p>


    
        </div>
        <div class="govuk-grid-column-one-third">

        </div>
    </div>
</div>



{% endblock %}