<h2 class="govuk-heading-l" id="1-1-1">1.1.1 - Non Text content</h2>
<strong class="govuk-tag govuk-tag--red">Level A</strong>
<p>All non-text content like images, charts, icons and infographics, must have an appropriate text equivalent. This
    ensures that information conveyed by non-text content is available to people who cannot see it, like screen reader
    users.</p>
<p>The exception to this is decorative images which should not be described or announced to screen reader users.</p>
<p>
    <a target="_blank" rel="noopener noreferrer" href="https://www.w3.org/WAI/WCAG21/Understanding/non-text-content"
        target="_blank" rel="noopener noreferrer">Understanding Success Criterion 1.1.1: Non-text Content</a>
</p>
<h3 class="govuk-heading-m">How to implement</h3>
<p>All images must have an alternative text description that describes its meaning, not what the image is:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>images that communicate information (for example icons and logos) have short text descriptions</li>
    <li>editoral images that support the text around them have short descriptions</li>
    <li>images that communicate complex information (for example infographics and diagrams) have longer text
        descriptions within the same page</li>
    <li>charts or graphs contain the same data in a corresponding table</li>
    <li>decorative images have the null (or empty) alternative description alt="" (no space between the quotations)</li>
</ul>

<p>You can use the <a href="https://www.w3.org/WAI/tutorials/images/decision-tree/" target="_blank">W3C alt decision
        tree</a> to help you with determining whether to use alt text or not on images.</p>

<p>Example: The image is editorial </p>
<pre><code>&lt;img src='/path-to-image/filename.png' alt='A child in a classroom sitting at a desk listening to a teacher talk' /&gt;</code></pre>
<p>Example: The image is purely decorative, like a background pattern or non-functional icon</p>
<pre><code>&lt;img src='/path-to-image/background-pattern.png' alt='' /&gt;</code></pre>

<h3 class="govuk-heading-m">How to test</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>identify images on the page, right click on them and select ‘Inspect’</li>
    <li>check the image tag to see if the alt attribute exists</li>
    <li>for decorative images, the alt attribute should be alt="" or just alt</li>
    <li>for editoral images and images which communicate information check that the descriptions are appropriate</li>
    <li>for images of complex information, check that the description refers to the availabiltiy of a longer description
        and that this is present on the page</li>
</ul>
<h3 class="govuk-heading-m">How to test with JAWS</h3>
<p>Use the <strong class="govuk-tag govuk-tag--grey">G</strong> key to navigate to the images on the page and check that
    a meaningful textual description is read out for informative images, and that decorative images are not announced.
</p>
<h3 class="govuk-heading-m">How to test with VoiceOver</h3>
<p>With VoiceOver (VO) turned on, use the command <strong class="govuk-tag govuk-tag--grey">VO</strong> + <strong
        class="govuk-tag govuk-tag--grey">command</strong> + <strong class="govuk-tag govuk-tag--grey">G</strong> to
    navigate through images on the page and check that a meaningful textual description is read out for informative
    images, and that decorative images are not announced.</p>
<p>
    <a href="https://support.apple.com/en-gb/guide/voiceover/mchlp2740/mac" target="_blank"
        rel="noopener noreferrer">Guidance for using VoiceOver on Mac and iPhone</a> to navigate pages and content
</p>
<h3 class="govuk-heading-m">Helpful links</h3>
<ul class="govuk-list govuk-list--spaced">
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://www.w3.org/WAI/tutorials/images/">Web Accessibility
            Tutorials - Images Concepts</a>
    </li>
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://design-system.service.gov.uk/styles/images/">GOV.UK
            Design System - Images</a>
    </li>
</ul>