{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Audits and statements" %}
{% set pageName = "Accessibility statements" %}
{% set pageDescription = "An accessibility statement helps people understand the accessibility of a website, how to get
help with, or give feedback, on accessibility issues."%}
{% set created = "15 July 2024" %}
{% set reviewed = "15 July 2024" %}
{% set updated = "19 July 2024" %}
{% set githubIssueID = "30" %}
{% set need = "This page exists to help people use the correct accessibility statement for their product or website." %}

{% block sidenav %}
    {% include "layouts/_newnav.html" %}
{% endblock %}

{% block content %}


    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    {% include 'partials/_statement_warning.html' %}

    <h2 class="govuk-heading-l">Templates</h2>

    <h3 class="govuk-heading-m">
        <a href="/audits-statements/accessibility-statements/fully-compliant">Fully compliant</a>
    </h3>
    <p>All pages of the product or website, including every step in any transactional service, must meet all WCAG level A
    and AA success criteria in full.</p>

    <h3 class="govuk-heading-m">
        <a href="/audits-statements/accessibility-statements/partially-compliant">Partially
        compliant</a>
    </h3>
    <p>1 or more, but less than half, of WCAG Level A and AA success criteria have not been met.</p>

    <h3 class="govuk-heading-m">
        <a href="/audits-statements/accessibility-statements/non-compliant">Non-compliant</a>
    </h3>
    <p>More than half of all WCAG Level A and AA success criteria have not been met.</p>

{% endblock %}