{% extends "layouts/homepage.html" %}

{% set selectedNav = "Home" %}
{% set pageName = "Accessibility manual" %}
{% set pageDescription = "Everyone who works on Department for Education services has a role to play in making services accessible and inclusive."%}

{% block hero %}
<section class="dfe-page-hero">
   <div class="dfe-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-font-size-80">Accessibility</h1>
            <p class="govuk-body-l">{{pageDescription}}</p>
         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block content %}
<div class="dfe-width-container ">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



    </div>
  </div>
</div>
{% endblock %}