{% extends "layouts/homepage.html" %}

{% set selectedNav = "Home" %}
{% set pageName = "Homepage" %}
{% set pageDescription = "Everything you need to understand how we create accessible, inclusive products and services in
the Department for Education."%}
{% set mainClasses = "govuk-!-padding-bottom-0 govuk-!-padding-top-0" %}



{% block content %}


<section class="govuk-!-padding-top-3 govuk-!-padding-bottom-3">
<div class="wider-grid govuk-!-margin-top-9">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

         <h1 class="govuk-visually-hidden">Accessibility and inclusive design manual</h1>

         <div class="full-width-div">
            <div class="overlay-text">
               <h2 class="govuk-heading-l">Learn about the basics of accessibility and inclusive design</h2>
               <a href="/training/accessibility-inclusion" role="button" draggable="false"
                  class="govuk-button govuk-button--start govuk-button--inverse" data-module="govuk-button">
                  Start now <span class="govuk-visually-hidden">to learn about accessibility and inclusive design</span>
                  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                     viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                     <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                  </svg>
               </a>
            </div>
         </div>

      </div>
   </div>
</div>
</section>

<section style="background-color:#f0f4f5;" class="govuk-!-padding-top-9 govuk-!-padding-bottom-9 govuk-!-margin-top-9">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-xl">Professions</h2>
         </div>
      </div>
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full">
            <p class="govuk-body-l">Find guidance, advice, and good practice for your profession. <a href="/profession-guidance">More guidance <span class="govuk-visually-hidden">for professions</span></a>.</p>
         </div>
         <div class="govuk-grid-column-two-thirds">
         </div>
         <div class="govuk-grid-column-full govuk-!-margin-top-5">
            <div class="dfe-grid-container">

               <div class="dfe-card">
                  <img src="/assets/images/twopeople.jpg" alt="">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Design</a>
                     </h3>
                     <p>Understand how you can use UX laws and the GOV design system to create accessible user interfaces and content.</p>
                  </div>
               </div>
               <div class="dfe-card">
                  <img src="/assets/images/people.jpg" alt="">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Product and
                           delivery</a>
                     </h3>
                     <p>Learn building accessibility and inclusivity principles into planning and processes can create better products and reduce problems.</p>
                  </div>
               </div>
               <div class="dfe-card">
                  <img src="/assets/images/hands.jpg" alt="">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Technical</a>
                     </h3>
                     <p>How to include accessibility checks, testing, and tooling into the development lifecycle alongside good design practice.</p>
                  </div>
               </div>
            </div>
         </div>


         <div class="govuk-grid-column-full govuk-!-margin-top-9 govuk-!-margin-bottom-5">
            <div class="govuk-grid-row split-panel split-panel--bg-white">
               <div class="govuk-grid-column-one-half text-column">
                  <h2 class="govuk-heading-l">Expand your knowledge</h2>
                  <p class="govuk-body">Use the knowledge hub to develop your understanding of accessibile and inclusive design further.</p>
                  <p class="govuk-body"><a href="/knowledge-hub">Visit the hub</a></p>
               </div>
               <div class="govuk-grid-column-one-half image-column">
                  <div class="image-container"
                     style="background-image: url('/assets/images/learn.jpg');">
                  </div>
               </div>
            </div>
         </div>
         
      </div>
   </div>
</section>



<section style="background: #ffffff" class="govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-4">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full how-many-card govuk-!-padding-top-9 govuk-!-padding-bottom-9">
            <h2 class="govuk-heading-xl">How many people</h2>
            <div class="govuk-grid-row">
               <div class="govuk-grid-column-one-half govuk-!-padding-right-9">
                  <p class="govuk-body-l">Find out about the types of disabilties, impairments, and conditions that affect people who
                     might use your service.</p>
                  <p style="margin-bottom: 0px;" class="govuk-body-l"><a href="/project/how-many-people">Learn more about this tool</a></p>
               </div>
               <div class="govuk-grid-column-one-half">
                  <form action="/app/how-many-people" method="post" style="background: #F2F7FA;" class="govuk-!-padding-left-7 govuk-!-padding-top-7 govuk-!-padding-bottom-7 govuk-!-padding-right-0 ">
                     <div class="govuk-form-group govuk-!-margin-bottom-0">
                        <label class="govuk-body-l" for="numberOfUsers">
                           Estimated number of people
                        </label>
                        <div class="inline-elements govuk-!-margin-top-3">
                           <input class="govuk-input govuk-!-width-two-thirds" id="numberOfUsers" name="numberOfUsers"
                              type="text" style="margin-bottom: 4px;">
                           <button type="submit" class="govuk-button" data-module="govuk-button"
                              style="margin-bottom: 4px;">
                              Get results
                           </button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>



<section style="background: #f3f2f1;" class="govuk-!-padding-bottom-9">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full govuk-!-margin-top-9">
            <h2 class="govuk-heading-xl">Standards</h2>
            <p class="govuk-body-l">The standards we're required to meet, and how to meet them, when building and running products and websites.</p>
            <div class="dfe-grid-container govuk-!-margin-top-9">

               <div class="dfe-card">
                  <img src="/assets/images/standard.png" alt="">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/standards"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">DfE Standards</a>
                     </h3>
                     <p>The standards we must meet when building products and websites.</p>
                  </div>
               </div>
               <div class="dfe-card">
                  <img src="/assets/images/audit.png" alt="">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/audits-statements/audits"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Audits</a>
                     </h3>
                     <p>Guidance for when, and what type of audits are required.
                     </p>
                  </div>
               </div>
               <div class="dfe-card">
                  <img src="/assets/images/statement.png" alt="">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/audits-statements/accessibility-statements"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Accessibility statements</a>
                     </h3>
                     <p>How to write and publish an accurate, standards-compliant accessibility statement.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>



{% endblock %}