{% extends "layouts/homepage.html" %}

{% set selectedNav = "Home" %}
{% set pageName = "Accessibility and inclusive design manual" %}
{% set pageDescription = "Everything you need to ensure you design and build digital products and services that are
accessible and inclusive."%}

{% set mainClasses = "govuk-!-padding-top-0" %}

{% block hero %}
<section class="dfe-page-hero govuk-!-padding-bottom-9">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{pageName}}</h1>
            <p class="govuk-body-l">{{pageDescription}}</p>
         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block content %}






<div class="govuk-width-container govuk-!-padding-top-7">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

         <div class="govuk-inset-text">
            This is just a holding page for all the new content to be linked out to until we decide the structure of the
            site.
         </div>

         <h2 class="govuk-heading-l">Standards</h2>
         <ul class="govuk-list govuk-list--bullet">
            <li><a href="/standards">Standards overview page</a></li>
            <li><a href="/standards/ddts-1">Accessibility statement standard</a></li>
            <li><a href="/standards/ddts-1/how-to-meet">How to meet this standard</a></li>
         </ul>

         <h2 class="govuk-heading-l">Guidance</h2>
         <ul class="govuk-list govuk-list--bullet">
            <li><a href="/audits">Audits</a></li>
            <li><a href="/statements">Statements</a></li>
            <li><a href="/tools">Tools</a></li>
         </ul>

    

      </div>
   </div>

</div>


{% endblock %}