{% extends "layouts/full.html" %}

{% set selectedNav = "Home" %}
{% set pageName = "Accessibility and inclusive design manual" %}
{% set pageDescription = "Guidance for professions to deliver accessible and inclusive services consistently."%}

{% set mainClasses = "govuk-!-padding-top-0" %}

{% block hero %}
   <section class="dfe-page-hero">
      <div class="govuk-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl">{{pageName}}</h1>

            </div>
         </div>
      </div>
   </section>
{% endblock %}

{% block content %}

   <style>
      .dfe-manuals-panel-list {
         list-style: none;
         padding: 0;
         margin: 0;
      }

      .dfe-manuals-panel-list__item {
         background: #fff;
         box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2) !important;
         padding: 30px;
         margin-bottom: 30px;
         width: 100%;
         /* Full width */
         box-sizing: border-box;
         /* Ensure padding and border are included in the width */
         border-radius: 4px;
      }

      /* Optional: add some hover effect */
      .dfe-manuals-panel-list__item:hover {
         box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
      }

      .dfe-manual-cta {
         padding-top: 20px;
         border-top: 4px solid #003a69;
      }

      .dfe-manual-cta p:last-of-type {
         margin-bottom: 0;
      }

      /* Optional: add some responsive styling */
      @media (max-width: 768px) {
         .dfe-manuals-panel-list__item {
            padding: 15px;
         }
      }

      .inline-elements {
         display: flex;
         align-items: center;
      }

      .inline-elements .govuk-input {
         margin-right: 1em;
         /* Adjust as needed */
      }

      .inline-elements .govuk-button {
         /* Additional styling if necessary */
      }

      .how-many-banner {
         /*background: url('/assets/images/hmp-bg.jpg') lightgray 50% / cover no-repeat;*/
         background: #DCEAB2;
         padding: 40px 55px;
      }

      .how-many-card {
         background-color: #ffffff;
         padding: 40px;
      }

      @media (max-width: 768px) {

         .how-many-banner {
            background: url("/assets/images/hmp-bg.jpg") lightgray 50% / cover no-repeat;
            padding: 20px 35px;
         }

         .how-many-card {
            background-color: #ffffff;
            padding: 20px;
         }

         .inline-elements {
            display: block;
         }
      }
   </style>

   <div class="govuk-width-container govuk-!-margin-top-9">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full">
            <div class="dfe-grid-container">
               <div class="dfe-card">
                  <img src="/assets/images/hands.jpg" alt="">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/standards" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">DfE
                        Accessibility Standards</a>
                     </h3>
                     <p>The accessibility standards all digital products and websites must meet.</p>
                  </div>
               </div>
               <div class="dfe-card">
                  <img src="/assets/images/report.jpg" alt="">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Audits and
                        accessibility statements</a>
                     </h3>
                     <p>Understand what audit you need, when to get one and publish an accessibility statement.</p>
                  </div>
               </div>
               <div class="dfe-card">
                  <img src="/assets/images/people.jpg" alt="">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/professions" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Best
                        practice in your profession</a>
                     </h3>
                     <p>Understand what the different responsibilitiies are for each role in the agile delivery lifecycle.
                  </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <section class="dfe-section govuk-!-margin-top-0 govuk-!-margin-bottom-9">
      <div class="dfe-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <div class="dfe-banner  govuk-!-margin-top-5">
                  <div class="dfe-banner__content-container">
                     <div class="dfe-banner__inner-content-container">
                        <h2 class="govuk-heading-l">
                           <a class="govuk-link govuk-link--no-visited-state" href="/knowledge-hub">Knowledge hub</a>
                        </h2>
                        <p class="govuk-body">All guidance and knowledge to support understanding accessibility and
                        inclusive design.</p>
                     </div>
                  </div>
                  <div class="dfe-banner__image-container">
                     <figure class="dfe-a-image dfe-a-image--cover">
                        <picture class="dfe-a-image__picture">
                           <source srcset="/assets/images/people-grey.webp" type="image/webp">
                           <img src="/assets/images/people-grey.png" alt="">
                        </picture>
                     </figure>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </section>

   <div class="govuk-width-container govuk-!-margin-top-9">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-full ">
            <div class=" how-many-banner">
               <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full how-many-card">
                     <h2 class="govuk-heading-l">How many people</h2>
                     <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half govuk-!-padding-right-9">

                           <p>Find out about the types of disabilties, impairments, and conditions that affect people who
                           might use your service.</p>
                           <p style="margin-bottom: 0px;">
                              <a href="">Learn more about this tool</a>
                           </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                           <form>
                              <div class="govuk-form-group">
                                 <label class="govuk-label" for="event-name">
                                 Estimated number of people
                              </label>
                                 <div class="inline-elements">
                                    <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="eventName"
                                    type="text" style="margin-bottom: 4px;">
                                    <button type="submit" class="govuk-button" data-module="govuk-button"
                                    style="margin-bottom: 4px;">
                                    Get results
                                 </button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>

                  </div>

               </div>
            </div>

         </div>
      </div>
   </div>

   <div class="govuk-width-container govuk-!-margin-top-9">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">What we're working on</h2>
            <div class="dfe-grid-container">
               <div class="dfe-card">

                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/project" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">The
                        project</a>
                     </h3>
                     <p>Find out more about this project and our goal to raise the standard of accessibility and inclusive
                     design in DfE.</p>
                  </div>
               </div>
               <div class="dfe-card">
                  <div class="dfe-card-container">
                     <h3 class="govuk-heading-m">
                        <a href="/project/roadmap"
                        class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Our roadmap</a>
                     </h3>
                     <p>Find out what we're doing across professions, education, culture and compliance.</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="govuk-grid-column-one-third"></div>
      </div>
   </div>

{% endblock %}