{% extends "layouts/homepage.html" %}

{% set selectedNav = "Home" %}
{% set pageName = "Homepage" %}
{% set pageDescription = "Everything you need to understand how we create accessible, inclusive products and services in
the Department for Education."%}
{% set mainClasses = "govuk-!-padding-bottom-0 govuk-!-padding-top-0" %}

{% block content %}
   <section class="govuk-!-margin-top-9">
      <div class="dfe-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                  <div class="govuk-grid-row split-panel" style="background: #f3f2f1;">
                     <div class="govuk-grid-column-one-half text-column">
                        <strong class="govuk-tag govuk-tag--green">Everyone</strong>
                        <h2 class="govuk-heading-l govuk-!-margin-top-3">Introduction to accessibility and inclusive design</h2>
                        <p class="govuk-body-l">Training for everyone to understand the basics of accessibility and inclusive design.</p>
                        <p class="govuk-body">Learning time: 10 minutes</p>
                        <p class="govuk-!-margin-bottom-0">
                           <a href="/training/accessibility-inclusion">Start training</a>
                        </p>
                     </div>
                     <div class="govuk-grid-column-one-half image-column">
                        <div class="image-container"
                     style="background-image: url('/assets/images/brown-sweater.jpg');"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section style="background-color:#f0f4f5;" class="govuk-!-padding-top-8 govuk-!-padding-bottom-9 govuk-!-margin-top-9">
      <div class="govuk-width-container">

         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-xl">Standards</h2>
               <p class="govuk-body-l">The standards you're required to meet, and how to meet them, when building and running products and websites.</p>
               <div class="dfe-grid-container govuk-!-margin-top-9">

                  <div class="dfe-card">
                     <img src="/assets/images/standard.png" alt="">
                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="/standards"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Accessibility Standards</a>
                        </h3>
                        <p>The standards we must meet when building products and websites.</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <img src="/assets/images/audit.png" alt="">
                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="/audits-statements/audits"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Audits</a>
                        </h3>
                        <p>Guidance for when, and what type of audits are required.
                     </p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <img src="/assets/images/statement.png" alt="">
                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="/audits-statements/accessibility-statements"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Accessibility statements</a>
                        </h3>
                        <p>How to write and publish an accurate, standards-compliant accessibility statement.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="govuk-grid-row">

            <div class="govuk-grid-column-full govuk-!-margin-top-9 govuk-!-margin-bottom-5">
               <div class="govuk-grid-row split-panel split-panel--bg-white">
                  <div class="govuk-grid-column-one-half text-column">
                     <h2 class="govuk-heading-l">Expand your knowledge</h2>
                     <p class="govuk-body">Use the knowledge hub to develop your understanding of accessibile and inclusive design further.</p>
                     <p class="govuk-body">
                        <a href="/knowledge-hub">Visit the hub</a>
                     </p>
                  </div>
                  <div class="govuk-grid-column-one-half image-column">
                     <div class="image-container"
                     style="background-image: url('/assets/images/learn.jpg');"></div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </section>

   <section style="background: #ffffff" class="govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-0">
      <div class="govuk-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full how-many-card govuk-!-padding-top-9 govuk-!-padding-bottom-0">
               <h2 class="govuk-heading-xl">How many people</h2>
               <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half govuk-!-padding-right-9 govuk-!-margin-bottom-9">
                     <p class="govuk-body-l">Find out about the types of disabilties, impairments, and conditions that affect people who
                     might use your service.</p>
                     <p class="govuk-body-l">Also understand the demographic breakdown of the teacher population in England, as well as digital inclusion of the general population.</p>
                  </div>
                  <div class="govuk-grid-column-one-half ">
                     <div class="border govuk-!-padding-7">
                        <form action="/app/how-many-people" method="post">
                           <div class="govuk-form-group govuk-!-margin-bottom-0">
                              <label class="govuk-body-l" for="numberOfUsers">
                           Estimated number of people
                        </label>
                              <div class="inline-elements govuk-!-margin-top-3">
                                 <input class="govuk-input govuk-!-width-two-thirds" id="numberOfUsers" name="numberOfUsers"
                              type="text" style="margin-bottom: 4px;">
                                 <button type="submit" class="govuk-button" data-module="govuk-button"
                              style="margin-bottom: 4px;">
                              Get results
                           </button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section style="background-color:#f0f4f5;" class="govuk-!-padding-top-8 govuk-!-padding-bottom-9 govuk-!-margin-top-0">
      <div class="govuk-width-container">

         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-xl">Learn about this service</h2>
               <p class="govuk-body-l">Find out why we built this product and what we're doing to continually improve it.</p>
               <div class="dfe-grid-container govuk-!-margin-top-9">

                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="/project"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">The project</a>
                        </h3>
                        <p>Find out about the project and what we're doing to raise the standard of accessibility in digital products.</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="https://design-histories.education.gov.uk/accessibility-manual"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Design Histories</a>
                        </h3>
                        <p>Read about our progress through our design histories.
                     </p>
                     </div>
                  </div>
                  <div class="dfe-card">

                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="https://github.com/DFE-Digital/accessibility-manual"
                           class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Open code</a>
                        </h3>
                        <p>Our code for this product is published in the open on GitHub, for you to reuse.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </section>
{% endblock %}