{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Site map" %}
{% set pageDescription = "Site map for the Department for Education accessibility manual." %}
{% set selectedNav = "" %}
{% set lastUpdated = "April 2024"%}

{% block content %}

  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/cookie-policy">Cookie Policy</a>
    </li>
    <li>
      <a href="/standards">Standards</a>
      <ul>
        <li>
          <a href="/standards/accessibility-statements">Standard for the publication of accessibility statements</a>
        </li>
        <li>
          <a href="/standards/accessibility-issues">Accessibility Issues</a>
        </li>
        <li>
          <a href="/standards/accessibility-audits">Accessibility Audits</a>
        </li>
        <li>
          <a href="/standards/regulations">Regulations</a>
        </li>
        <li>
          <a href="/standards/accessibility-statements/how-to-meet">How to Meet Accessibility Standards</a>
        </li>
        <li>
          <a href="/standards/report-manage-issues">Report and Manage Issues</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/audits-statements">Audits and Statements</a>
      <ul>
        <li>
          <a href="/audits-statements/audits">Audits</a>
          <ul>
            <li>
              <a href="/audits-statements/audits/prepare">Prepare for an Audit</a>
            </li>
            <li>
              <a href="/audits-statements/audits/after-audit">After an Audit</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/audits-statements/accessibility-statements">Accessibility Statements</a>
          <ul>
            <li>
              <a href="/audits-statements/accessibility-statements/fully-compliant">Fully Compliant</a>
            </li>
            <li>
              <a href="/audits-statements/accessibility-statements/partially-compliant">Partially Compliant</a>
            </li>
            <li>
              <a href="/audits-statements/accessibility-statements/non-compliant">Non-Compliant</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="/knowledge-hub">Knowledge Hub</a>
      <ul>
        <li>
          <a href="/knowledge-hub/tools-testing">Tools and Testing</a>
          <ul>
            <li>
              <a href="/knowledge-hub/tools-testing/tools/accessibility-insights">Accessibility Insights</a>
            </li>
            <li>
              <a href="/knowledge-hub/tools-testing/tools/arc">ARC</a>
            </li>
            <li>
              <a href="/knowledge-hub/tools-testing/tools/axe">Axe</a>
            </li>
            <li>
              <a href="/knowledge-hub/tools-testing/tools/contrast">Contrast</a>
            </li>
            <li>
              <a href="/knowledge-hub/tools-testing/tools/headings-map">Headings Map</a>
            </li>
            <li>
              <a href="/knowledge-hub/tools-testing/tools/wave">WAVE</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/knowledge-hub/common-issues">Common Issues</a>
          <ul>
            <li>
              <a href="/knowledge-hub/common-issues/error-messages">Error Messages</a>
            </li>
            <li>
              <a href="/knowledge-hub/common-issues/alt-text">Alt Text</a>
            </li>
            <li>
              <a href="/knowledge-hub/common-issues/links">Links</a>
            </li>
            <li>
              <a href="/knowledge-hub/common-issues/contrast">Contrast</a>
            </li>
            <li>
              <a href="/knowledge-hub/common-issues/headings">Headings</a>
            </li>
            <li>
              <a href="/knowledge-hub/common-issues/status-changes">Status Changes</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/knowledge-hub/managing-issues">Managing Issues</a>
          <ul>
            <li>
              <a href="/knowledge-hub/managing-issues/disproportionate-burden">Disproportionate Burden</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/knowledge-hub/wcag">WCAG</a>
          <ul>
            <li>
              <a href="/knowledge-hub/wcag/conformance">Conformance</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/knowledge-hub/tools-testing/bookmarklets">Bookmarklets</a>
          <ul>
            <li>
              <a href="/knowledge-hub/tools-testing/bookmarklets/blur">Blur</a>
            </li>
            <li>
              <a href="/knowledge-hub/tools-testing/bookmarklets/lists">Lists</a>
            </li>
            <li>
              <a href="/knowledge-hub/tools-testing/bookmarklets/target-size">Target Size</a>
            </li>
            <li>
              <a href="/knowledge-hub/tools-testing/bookmarklets/text-spacing">Text Spacing</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/knowledge-hub/tools-testing/false-positives">False Positives</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/training">Training</a>
      <ul>
        <li>
          <a href="/training/accessibility-inclusion">Accessibility and Inclusion</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/support">Support</a>
    </li>
    <li>
      <a href="/project">Project</a>
    </li>
    <li>
      <a href="/accessibility-statement">Accessibility Statement</a>
    </li>

    <li>
      <a href="/wcag/1-1-1">1.1.1 Non-text content</a>
    </li>

  </ul>

{% endblock %}