{% extends "layouts/page_layout.html" %}

{% set selectedNav = "Standards" %}
{% set pageName = "How to meet the accessibility statement standard" %}
{% set pageDescription = "Guidance for the requirements of this standard and how to meet it." %}

{% set created = "15 July 2024" %}
{% set reviewed = "15 July 2024" %}
{% set updated = "15 July 2024" %}
{% set githubIssueID = "30" %}
{% set need = "This page exists to help people understand how to apply the DfE accessibility statement standard." %}

{% block content %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/standards">Standards</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            {{pageName}}
        </li>
    </ol>
</div>

<span class="govuk-caption-l  govuk-!-margin-top-5">Standard</span>
<h1 class="govuk-heading-xl">{{pageName}}</h1>


<p>If you are building a new product or website, start with <a href="#identify">identify issues</a>.</p>

<p>If you have an existing product or website, are reviewing your statement, go to <a href="#updated">keep your
        statement updated</a>.</p>

<div class="dfe-timeline">
    <ol>
        <li>
            <h2 class="govuk-heading-l" id="identify">Identify issues</h2>
            <p>You need to test your product and website and identify any issues.</p>
            <p>You can do this by:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>testing you've carried out</li>
                <li>getting feedback from users</li>
                <li>carrying out third-party or internal accessibility audits</li>
                <li>using automated testing tools</li>
            </ul>
            <p>You should follow the <a href="/knowledge-hub/managing-issues">managing issues guidance</a> for good practice on
                identifying, tracking, and managing accessibility issues in your product or website.</p>
            <p>Doing this also ensures you meet the <a href="/standards/report-manage-issues">report and manage accessibility issues</a> standard.</p>
        </li>
        <li>
            <h2 class="govuk-heading-l">Write your accessibility statement</h2>
            <p>Statements contain legally-required wording so it's important you use the correct statement for your
                website.</p>
            <p>We have created <a href="/audits-statements/accessibility-statements">templates to help you write your
                    statement</a>.</p>
            <h3 class="govuk-heading-m">Declare conformance and compliance</h3>
            <p>You must declare the <a href="/knowledge-hub/wcag/conformance">level of conformance</a> you have achieved
                with the WCAG (Web Content Accessibility Guidelines) 2.2.</p>
            <p>We aim to meet Level AA as a minimum. Unless you have a reason to meet level AAA, we do not expect teams
                in DfE to meet this level.</p>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    You will be breaking the law if you falsely declare your service to be fully compliant but have
                    accessibility issues.
                </strong>
            </div>
            <h3 class="govuk-heading-m">Detail accessibility issues</h3>
            <p>The statement must include details of all known WCAG criteria failures you have identified.</p>
            <p>You should also detail any <a href="/knowledge-hub/managing-issues/disproportionate-burden">disproportionate burden</a> you are applying for any issues.</p>
            <h3 class="govuk-heading-m">Mitigation and resolution actions</h3>
            <p>You must state clearly what actions you're taking to mitigate or resolve any accessibility issues.
                Include any expected timelines for resolution.</p>
            <p>This provides users with assurance that their concerns are being actively addressed and that improvements
                are being made to enhance their user experience.</p>
            <h3 class="govuk-heading-m">Contact information</h3>
            <p>Provide contact information for users to report accessibility issues. This could be an email address or
                phone number, or a link to an online form.</p>
        </li>
        <li>
            <h2 class="govuk-heading-l">Publish your statement</h2>
            <p>Once you have written your statement, you must make it available to users before they start using your
                website or app.</p>
            <h3 class="govuk-heading-m">Publishing for a website</h3>
            <p>You must link to the statement from the footer of every page on the website. The link text for the
                statement must say "Accessibility".</p>
            <h3 class="govuk-heading-m">Publishing for an app</h3>
            <p>You must link to the statement from the app store listing description. The link text for the statement
                must say "Accessibility statement".</p>
        </li>
        <li>
            <h2 class="govuk-heading-l" id="updated">Keep your statement updated</h2>
            <p>It's important to keep your statement up to date. You should review and update it whenever:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>you carry out accessibility testing or have an audit</li>
                <li>you identify new accessibility issues</li>
                <li>you resolve existing accessibility issues</li>
                <li>the legislation or mandatory content changes</li>
            </ul>
        </li>
        <li>
            <h2 class="govuk-heading-l">Review your statement annually</h2>
            <p>The accessibility statement must be reviewed and updated at least every 12 months. Even if no interim
                testing or audits happen.</p>
            <p>This regular review process shows ongoing compliance with accessibility standards. It also demonstrates a
                commitment to maintaining an accessible digital product for all users.</p>
        </li>
    </ol>
</div>

<style>
    .dfe-timeline ol>li>h3::before {
        content: "";
        display: block;
        width: 10px;
        height: 0px;
        border-radius: 0%;
        background-color: #fff;
        border: 2px solid #b1b4b6;
        position: absolute;
        z-index: 2;
        left: -22px;
        margin-top: 12px;

    }

    .dfe-timeline ol>li:before {

        top: 7px;
    }

    .dfe-timeline ol>li {
        margin: 10px 0 20px 10px;
        padding-left: 15px;
        position: relative;
        display: block;
        padding-bottom: 30px;
        border-bottom: none;
    }

    .dfe-timeline ol>li:last-of-type {
        padding-bottom:0px;
    }
    
</style>


{% endblock %}