{{ header({
"showNav": "true",
"showSearch": "true",
"showHeaderActionLinks": "true",
"showUserName": "false",
"userName": "",
"userNameURL": "",
"selectedNav": selectedNav,
"logoPath": "assets/images",
"searchInputName": "searchterm",
"logoAltText": "Department for Education standards manual",
"homeHref":"https://standards.education.gov.uk",
"service": {
"name": "Accessibility and inclusive design manual",
"serviceUrl": "/"
},
"primaryLinks": [
{
    "url": "/",
    "label": "Home"
},
{
"url" : "/standards",
"label" : "Standards"
}, {
"url" : "/audits-statements",
"label" : "Audits and statements"
},{
"url" : "/knowledge-hub",
"label" : "Knowledge hub"
}, {
"url" : "/training",
"label" : "Training"
}, {
"url" : "/support",
"label" : "Support"
}
]
})
}}