{{ header({
"showNav": "true",
"showSearch": "true",
"showUserName": "false",
"userName": "",
"userNameURL": "",
"selectedNav": selectedNav,
"logoPath": "assets/images",
"searchInputName": "searchterm",
"service": {
"name": ""
},
"primaryLinks": [
{
"url" : "/",
"label" : "Home"
}, {
"url" : "/standards",
"label" : "Standards"
}, {
"url" : "/audits-statements",
"label" : "Audits and statements"
},{
"url" : "/issues",
"label" : "Managing issues"
},{
    "url" : "/professions",
    "label" : "Profession guidance"
    }, {
"url" : "/tools",
"label" : "Tools"
},{
"url" : "/knowledge-base",
"label" : "Knowledge base"
}
]
})
}}