 <section class="dfe-manual-section dfe-manual-section--light govuk-!-padding-top-0">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="dfe-hmp-tool">
                        <div class="card-content">
                            <h2 class="card-title govuk-heading-m" id="how-many-people">How many people?</h2>
                            <p class="card-description">Find out how many people have a disability or condition that might impact their ability to use your service.</p>

                            <form action="/app/how-many-people" method="post">
                                <input type="hidden" name="sourcePage" value="{{ path }}">
                                <div class="govuk-form-group govuk-!-margin-bottom-2{% if error %} govuk-form-group--error{% endif %}">
                                    <label class="govuk-label" for="how-many-people-input">
                                        Enter the number of people who use your service
                                    </label>
                                    {% if error %}
                                    <span class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> {{ error.message }}
                                    </span>
                                    {% endif %}
                                    <div class="calculator-input-wrapper govuk-!-margin-bottom-0">
                                        <input class="govuk-input govuk-input--width-10{% if error %} govuk-input--error{% endif %}" id="how-many-people-input" name="numberOfUsers" type="text"  placeholder="e.g. 10000" {% if error and error.input %}value="{{ error.input }}"{% endif %}>
                                        <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" type="submit">
                                            Calculate
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>