{% set data = [
    {
        "nav": "Standards",
        "url": "/standards",
        "sections": [
            {
                "section": "Standard for the publication of accessibility statements",
                "sub-sections": [
                    {
                        "title": "Standard",
                        "url": "/standards/accessibility-statements"
                    },
                    {
                        "title": "How to meet this standard",
                        "url": "/standards/accessibility-statements/how-to-meet"
                    },
                    {
                        "title": "Compliance",
                        "url": "/standards/accessibility-statements/compliance"
                    }
                ]
            },{
                "section": "Standard for managing issues",
                "sub-sections": [
                    {
                        "title": "Manage accessibility issues",
                        "url": "/standards/accessibility-issues"
                    }
                ]
            },{
                "section": "Standard for accessibility audits",
                "sub-sections": [
                    {
                        "title": "Product and service accessibility audits",
                        "url": "/standards/accessibility-audits"
                    }
                ]
            },{
                "section": "Laws and regulatory frameworks",
                "sub-sections": [
                    {
                        "title": "Overview of accessibility regulations",
                        "url": "/standards/regulations"
                    }
                ]
            }
        ]
    },
    {
        "nav": "Audits and statements",
        "url": "/audits-statements",
        "sections": [
            {
                "section": "Audits",
                "sub-sections": [
                    {
                        "title": "Audits",
                        "url": "/audits-statements/audits"
                    }
                ]
            },
            {
                "section": "Statements",
                "sub-sections": [
                    {
                        "title": "Accessibility statements",
                        "url": "/audits-statements/accessibility-statements"
                    },
                    {
                        "title": "Fully compliant template",
                        "url": "/audits-statements/accessibility-statements/fully-compliant"
                    },
                    {
                        "title": "Partially compliant template",
                        "url": "/audits-statements/accessibility-statements/partially-compliant"
                    },
                    {
                        "title": "Non-compliant template",
                        "url": "/audits-statements/accessibility-statements/non-compliant"
                    }

                ]   
            }
        ]
    },{
        "nav": "Knowledge hub",
        "url": "/knowledge-hub",
        "sections": [
        {
                "section": "Common issues",
                "sub-sections": [
                    {
                        "title": "Common accessibility issues",
                        "url": "/knowledge-hub/common-issues"
                    },
                    {
                        "title": "Form error messages",
                        "url": "/knowledge-hub/common-issues/error-messages"
                    },
                    {
                        "title": "Images, charts, and alt text",
                        "url": "/knowledge-hub/common-issues/alt-text"
                    },
                    {
                        "title": "Links",
                        "url": "/knowledge-hub/common-issues/links"
                    },
                    {
                        "title": "Content with insufficient contrast",
                        "url": "/knowledge-hub/common-issues/contrast"
                    },
                    {
                        "title": "Incorrect heading structure",
                        "url": "/knowledge-hub/common-issues/headings"
                    },
                    {
                        "title": "Status changes to content",
                        "url": "/knowledge-hub/common-issues/status-changes"
                    }
                ]
            }, {
                "section": "Managing and prioritising issues",
                "sub-sections": [
                    {
                        "title": "Managing issues",
                        "url": "/knowledge-hub/managing-issues"
                    },
                     {
                        "title": "Disproportionate burden",
                        "url": "/knowledge-hub/managing-issues/disproportionate-burden"
                    }
                    ]
            },
              {
                "section": "Tools",
                "sub-sections": [
                    {
                        "title": "Overview",
                        "url": "/knowledge-hub/tools-testing"
                    },{
                        "title": "Accessibility Insights",
                        "url": "/knowledge-hub/tools-testing/tools/accessibility-insights"
                    },
                    {
                        "title": "ARC Toolkit",
                        "url": "/knowledge-hub/tools-testing/tools/arc"
                    },
                    {
                        "title": "axe DevTools",
                        "url": "/knowledge-hub/tools-testing/tools/axe"
                    },
                    {
                        "title": "Contrast Checker", 
                        "url": "/knowledge-hub/tools-testing/tools/contrast"
                    },
                    {
                        "title": "HeadingsMap",
                        "url": "/knowledge-hub/tools-testing/tools/headings-map"
                    },
                    {
                        "title": "WAVE Evaluation",
                        "url": "/knowledge-hub/tools-testing/tools/wave"
                    }
                    
                ]
            },
            {
                 "section": "Bookmarklets",
                "sub-sections": [
                    {
                        "title": "Overview",
                        "url": "/knowledge-hub/tools-testing/bookmarklets"
                    },
                     {
                        "title": "Target size",
                        "url": "/knowledge-hub/tools-testing/bookmarklets/target-size"
                    },
                     {
                        "title": "Text spacing",
                        "url": "/knowledge-hub/tools-testing/bookmarklets/text-spacing"
                    },
                     {
                        "title": "Lists",
                        "url": "/knowledge-hub/tools-testing/bookmarklets/lists"
                    },
                     {
                        "title": "Blur",
                        "url": "/knowledge-hub/tools-testing/bookmarklets/blur"
                    }
                ]
            },
            {
                 "section": "False positives and false assurance",
                "sub-sections": [
                    {
                        "title": "Overview",
                        "url": "/knowledge-hub/tools-testing/false-positives"
                    }
                ]
            } ,
            {
                 "section": "WCAG",
                "sub-sections": [
                    {
                        "title": "Overview",
                        "url": "/knowledge-hub/wcag"
                    }, {
                        "title": "Conformance",
                        "url": "/knowledge-hub/wcag/conformance"
                    }
                ]
            } 
            ]
 }
] %}

{% set selectedSection = null %}

{% set navSections = [] %}

{% for item in data %}
    {% if item.nav == selectedNav %}
        {% set selectedSection = item %}
        {% set navSections = item.sections %}
    {% endif %}
{% endfor %}

<nav class="navbar" aria-label="Secondary navigation">
    {%- if selectedSection %}
        <ul class="nav-list">

            <li>
                <a href="{{selectedSection.url}}" class="nav-link">
                    {{selectedSection.nav}}
                </a>
            </li>

            {% for section in navSections %}
                <li>
                    <button type="button" aria-expanded="false" aria-controls="sub-nav-{{ section.section | slugify }}" class="nav-link-toggle">
                        {{ section.section }}
                        <span class="icon"></span>
                    </button>
                    <ul id="sub-nav-{{ section.section | slugify }}" class="sub-nav">
                        {% for sub_section in section['sub-sections'] %}
                            <li>
                                <a href="{{ sub_section.url }}" class="{% if sub_section.title == pageName %} sub-nav--active {% endif %}">{{ sub_section.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</nav>